        <div class="mobile-user-menu">          
            <button class="btn btn-cart menuUserMobileToggle mt-2 mb-4"><i class="bi bi-x" style="font-size: 25px;"></i></button>    
              <div class="row mobile-menu-container">
                <div class="col-12 pb-2">
                {% if request.user.is_authenticated and request.user.is_customer %}
                    <h6><a href="{% url 'dashboard:profile' %}">{{request.user.get_full_name}}</a></h6>
                </div>
                <div class="col-12">
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item">
                            <a href="{% url 'dashboard:profile' %}">
                                Mi Perfil
                            </a>
                        </li>
                        <li class="list-group-item">
                            <a href="{% url 'dashboard:orders' %}">
                                Mis pedidos
                            </a>
                        </li>
                        <li class="list-group-item">
                            <a href="{% url 'register:logout' %}">
                                Cerrar Sesión
                            </a>
                        </li>
                    </ul>
                </div>
                {% else %}
                    <h6><a href="#">¡Bienvenido!</a></h6>
                </div>
                <div class="col-12">
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item">
                            <a href="{% url 'register:login' %}">
                               Iniciar sesión
                            </a>
                        </li>
                        <li class="list-group-item">
                            <a href="{% url 'register:add' %}">
                                Registrarse
                            </a>
                        </li>
                    </ul>
                </div>
                {% endif %}
            </div>
        </div>