{% if segm == 1 %}
        <div class="mobile-menu">          

            <button class="btn btn-cart menuBarToggle mt-2 mb-4"><i class="bi bi-x" style="font-size: 25px;"></i></button>    

              <div class="row">

                <div class="col-6 pb-2">

                    <h4><a href="#">Inicio</a></h4>

                </div>

                <div class="col-6 pb-2">

                    <h4><a href="#">Conocenos</a></h4>

                </div>
                <div class="col-6 pb-2">

                    <h4><a href="#">Agendas</a></h4>

                </div>
                <div class="col-6 pb-2">

                    <h4><a href="#">Contacto</a></h4>

                </div>

                {% comment %} <div class="col-6">

                    <h6><a href="#">-Marcas</a></h6>

                    <ul class="list-group list-group-flush">

                        <li class="list-group-item">

                            <a href="#">

                                Addidas

                            </a>

                        </li>

                        <li class="list-group-item">

                            <a href="#">

                                Nike

                            </a>

                        </li>

                        <li class="list-group-item">

                            <a href="#">

                                Runner

                            </a>

                        </li>

                        <li class="list-group-item">

                            <a href="#">

                                Charly

                            </a>

                        </li>

                    </ul>

                </div> {% endcomment %}

                <div class="col-12">

                    <h6><a href="#">Da un vistazo</a></h6>

                    <div id="carouselPromotionsProducts" class="carousel slide mw-100" data-bs-ride="carousel">
                        <div class="carousel-inner">
                            {% for product in products_list %}
                            <div class="carousel-item {% if forloop.first %}active{% endif %}">
                                <img src="{{product.products_gallery.all.first.image.url}}" class="d-block mw-100" alt="...">
                                <p class="pt-2 mb-0 pb-0">{{product.name}} {{product.model}}</p>

                                <a class="pt-2 mb-2 pb-3" href="{% url 'shop_cart:product_detail' product.slug %}">Ver producto</a>

                            </div>
                            {% endfor %}

                        </div>

                    </div>

                </div> 

            </div>



        </div>
{% elif segm == 2 %}
	<div class="row principal-menu-mobile pl-2 pr-2">

		<div class="col-6">
			{% if store_instance.store_meta.logo %}
			<a class="navbar-brand" href="#">
				
				<img src="{{store_instance.store_meta.logo.url}}" class="logo-brand-store" alt="">

			</a>
				{% else %}

			<a class="navbar-brand" href="{% url 'shop:shop_list' %}">
				
				<img src="{{STATIC_URL}}assets/images/icons/logoKGNegro.png" class="logo-brand-store" alt="">

			</a>
				{% endif %}
		</div>

		<div class="col-6 d-flex justify-content-around">

			<!-- <div>

				<button type="button" class="btn" data-bs-toggle="modal" data-bs-target="#searchProductsForm">

					<i class="bi bi-search " style="font-size: 18px;"></i>

				</button>

			</div> -->

			<div class="position-relative">

				<button type="button" class="btn cartBarToggle">

					<i class="bi bi-handbag " style="font-size: 18px;"></i>

				</button>
				{% if cart.get_quantity_products >= 1 %}
				    <span class="badge rounded-pill counter-product-cart counter-shop-products">{{cart.get_quantity_products}}</span>
				{% endif %}

			</div>

			<div>

				<button type="button" class="btn menuUserMobileToggle">

					<i class="bi bi-person-circle " style="font-size: 18px;"></i>

				</button>

			</div> 

			<div>

				<button type="button" class="btn menuBarToggle">

					<i class="bi bi-list " style="font-size: 18px;"></i>

				</button>

			</div>   

		</div>

	</div>
{% endif %}