<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Karla Gálvez - {% block header %}{% endblock header %}</title>

    <link rel="apple-touch-icon" sizes="57x57" href="{{STATIC_URL}}assets/images/icons/favicon/apple-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="60x60" href="{{STATIC_URL}}assets/images/icons/favicon/apple-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="72x72" href="{{STATIC_URL}}assets/images/icons/favicon/apple-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="76x76" href="{{STATIC_URL}}assets/images/icons/favicon/apple-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="114x114" href="{{STATIC_URL}}assets/images/icons/favicon/apple-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="120x120" href="{{STATIC_URL}}assets/images/icons/favicon/apple-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="144x144" href="{{STATIC_URL}}assets/images/icons/favicon/apple-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="152x152" href="{{STATIC_URL}}assets/images/icons/favicon/apple-icon-152x152.png">
    <link rel="apple-touch-icon" sizes="180x180" href="{{STATIC_URL}}assets/images/icons/favicon/apple-icon-180x180.png">
    <link rel="icon" type="image/png" sizes="192x192"  href="/{{STATIC_URL}}assets/images/icons/faviconandroid-icon-192x192.png">
    <link rel="icon" type="image/png" sizes="32x32" href="{{STATIC_URL}}assets/images/icons/favicon/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="96x96" href="{{STATIC_URL}}assets/images/icons/favicon/favicon-96x96.png">
    <link rel="icon" type="image/png" sizes="16x16" href="{{STATIC_URL}}assets/images/icons/favicon/favicon-16x16.png">
    <link rel="manifest" href="{{STATIC_URL}}assets/images/icons/favicon/manifest.json">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="msapplication-TileImage" content="{{STATIC_URL}}assets/images/icons/favicon/ms-icon-144x144.png">
    <meta name="theme-color" content="#ffffff">

    <link rel="stylesheet" href="{{STATIC_URL}}assets/css/bootstrap.css">

    <!-- Datatable -->
    <link href="{{STATIC_URL}}assets/css/plugins/dataTables/datatables.min.css" rel="stylesheet">
    <!-- Toastr style -->
    <link href="{{STATIC_URL}}assets/css/plugins/toastr/toastr.min.css" rel="stylesheet">

    <link rel="stylesheet" href="{{STATIC_URL}}assets/vendors/perfect-scrollbar/perfect-scrollbar.css">
    <link rel="stylesheet" href="{{STATIC_URL}}assets/css/app.css">


    <style>
        .feather-16{
            width: 16px;
            height: 16px;
            }
            .feather-24{
            width: 24px;
            height: 24px;
            }
            .feather-32{
            width: 32px;
            height: 32px;
            }
    </style>
    {% block styles %}
    {% endblock styles %}

    

</head>

<body>
    <div id="app">
        <div id="sidebar" class='active'>
            <div class="sidebar-wrapper active">
                <div class="sidebar-header">
                    <img src="{{STATIC_URL}}assets/images/icons/LogoKGBlanco.png" class="img-fluid" alt="" srcset="">
                </div>
                <div class="sidebar-menu">
                    <ul class="menu">


                        <li class='sidebar-title'>Bienvenido, {{request.user.get_full_name}}</li>



                        <li class="sidebar-item  ">
                            <a href="{% url 'authorization:dashboard' %}" class='sidebar-link'>
                                <i data-feather="home" width="20"></i>
                                <span>Dashboard</span>
                            </a>

                        </li>


                        {% for item in menu_user %}
                        <li class="sidebar-item  {% if item.has_submenu %}has-sub{% endif %}">
                            <a href="{% if item.has_submenu %}#{% else %}{{item.url}}{% endif %}" class='sidebar-link'>
                                <i class="fas {{item.icon}}" width="20"></i>
                                <span>{{item.title}}</span>
                            </a>
                            {% if item.has_submenu %}
                            <ul class="submenu ">
                                {% for subitem in item.subitems.all %}

                                <li>
                                    <a href="{{subitem.url}}">{{subitem.title}}</a>
                                </li>
                                {% endfor %}

                            </ul>
                            {% endif %}

                        </li>

                        {% endfor %}





                        <!--
                        <li class="sidebar-item  has-sub">
                            <a href="#" class='sidebar-link'>
                                <i data-feather="briefcase" width="20"></i>
                                <span>Extra Components</span>
                            </a>

                            <ul class="submenu ">

                                <li>
                                    <a href="component-extra-avatar.html">Avatar</a>
                                </li>

                                <li>
                                    <a href="component-extra-divider.html">Divider</a>
                                </li>

                            </ul>

                        </li>




                        <li class='sidebar-title'>Forms &amp; Tables</li>



                        <li class="sidebar-item  has-sub">
                            <a href="#" class='sidebar-link'>
                                <i data-feather="file-text" width="20"></i>
                                <span>Form Elements</span>
                            </a>

                            <ul class="submenu ">

                                <li>
                                    <a href="form-element-input.html">Input</a>
                                </li>

                                <li>
                                    <a href="form-element-input-group.html">Input Group</a>
                                </li>

                                <li>
                                    <a href="form-element-select.html">Select</a>
                                </li>

                                <li>
                                    <a href="form-element-radio.html">Radio</a>
                                </li>

                                <li>
                                    <a href="form-element-checkbox.html">Checkbox</a>
                                </li>

                                <li>
                                    <a href="form-element-textarea.html">Textarea</a>
                                </li>

                            </ul>

                        </li>




                        <li class="sidebar-item  ">
                            <a href="form-layout.html" class='sidebar-link'>
                                <i data-feather="layout" width="20"></i>
                                <span>Form Layout</span>
                            </a>

                        </li>




                        <li class="sidebar-item  ">
                            <a href="form-editor.html" class='sidebar-link'>
                                <i data-feather="layers" width="20"></i>
                                <span>Form Editor</span>
                            </a>

                        </li>




                        <li class="sidebar-item  ">
                            <a href="table.html" class='sidebar-link'>
                                <i data-feather="grid" width="20"></i>
                                <span>Table</span>
                            </a>

                        </li>




                        <li class="sidebar-item  ">
                            <a href="table-datatable.html" class='sidebar-link'>
                                <i data-feather="file-plus" width="20"></i>
                                <span>Datatable</span>
                            </a>

                        </li>




                        <li class='sidebar-title'>Extra UI</li>



                        <li class="sidebar-item  has-sub">
                            <a href="#" class='sidebar-link'>
                                <i data-feather="user" width="20"></i>
                                <span>Widgets</span>
                            </a>

                            <ul class="submenu ">

                                <li>
                                    <a href="ui-chatbox.html">Chatbox</a>
                                </li>

                                <li>
                                    <a href="ui-pricing.html">Pricing</a>
                                </li>

                                <li>
                                    <a href="ui-todolist.html">To-do List</a>
                                </li>

                            </ul>

                        </li>




                        <li class="sidebar-item  has-sub">
                            <a href="#" class='sidebar-link'>
                                <i data-feather="trending-up" width="20"></i>
                                <span>Charts</span>
                            </a>

                            <ul class="submenu ">

                                <li>
                                    <a href="ui-chart-chartjs.html">ChartJS</a>
                                </li>

                                <li>
                                    <a href="ui-chart-apexchart.html">Apexchart</a>
                                </li>

                            </ul>

                        </li> -->

                        {% if request.user.is_superuser %}
                        <li class='sidebar-title'><i class="fas fa-cogs"></i> Configuración</li>



                        <li class="sidebar-item  has-sub">
                            <a href="#" class='sidebar-link'>
                                <i class="fas fa-bars" width="20"></i>
                                <span>Modulos</span>
                            </a>

                            <ul class="submenu ">

                                <li>
                                    <a href="{% url 'config:menu_list' %}">Menú</a>
                                </li>

                                <li>
                                    <a href="{% url 'config:submenu_list' %}">Submenú</a>
                                </li>

                                <li>
                                    <a href="auth-forgot-password.html">Datos del sitio</a>
                                </li>

                            </ul>

                        </li>
                        {% endif %}




                        <!-- <li class="sidebar-item  has-sub">
                            <a href="#" class='sidebar-link'>
                                <i data-feather="alert-circle" width="20"></i>
                                <span>Errors</span>
                            </a>

                            <ul class="submenu ">

                                <li>
                                    <a href="error-403.html">403</a>
                                </li>

                                <li>
                                    <a href="error-404.html">404</a>
                                </li>

                                <li>
                                    <a href="error-500.html">500</a>
                                </li>

                            </ul>

                        </li> -->




                    </ul>
                </div>
                <button class="sidebar-toggler btn x"><i data-feather="x"></i></button>
            </div>
        </div>
        <div id="main">
            <nav class="navbar navbar-header navbar-expand navbar-light">
                <a class="sidebar-toggler" href="#"><span class="navbar-toggler-icon"></span></a>
                <button class="btn navbar-toggler" type="button" data-bs-toggle="collapse"
                    data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav d-flex align-items-center navbar-light ms-auto">
                        <li class="dropdown nav-icon">
                            <a href="{% url 'shop:shop_list' %}" data-toggle="tooltip" data-placement="left" title="Ver sitio web"
                                class="nav-link  nav-link-lg nav-link-user">
                                <div class="d-lg-inline-block">
                                    <i data-feather="globe"></i>
                                </div>
                            </a>
                        </li>
                        <!-- <li class="dropdown nav-icon">
                            <a href="#" data-bs-toggle="dropdown"
                                class="nav-link  dropdown-toggle nav-link-lg nav-link-user">
                                <div class="d-lg-inline-block">
                                    <i data-feather="bell"></i>
                                </div>
                            </a>
                            <div class="dropdown-menu dropdown-menu-end dropdown-menu-large">
                                <h6 class='py-2 px-4'>Notificaciones</h6>
                                <ul class="list-group rounded-none">
                                    <li class="list-group-item border-0 align-items-start">
                                        <div class="avatar bg-success me-3">
                                            <span class="avatar-content"><i data-feather="shopping-cart"></i></span>
                                        </div>
                                        <div>
                                            <h6 class='text-bold'>New Order</h6>
                                            <p class='text-xs'>
                                                An order made by Ahmad Saugi for product Samsung Galaxy S69
                                            </p>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </li>
                        <li class="dropdown nav-icon me-2">
                            <a href="#" data-bs-toggle="dropdown"
                                class="nav-link dropdown-toggle nav-link-lg nav-link-user">
                                <div class="d-lg-inline-block">
                                    <i data-feather="mail"></i>
                                </div>
                            </a>
                            <div class="dropdown-menu dropdown-menu-end">
                                <a class="dropdown-item" href="#"><i data-feather="user"></i> Cuenta</a>
                                <a class="dropdown-item active" href="#"><i data-feather="mail"></i> Mensajes</a>
                                <a class="dropdown-item" href="#"><i data-feather="settings"></i> Configuración</a>
                                <div class="dropdown-divider"></div>
                                <a class="dropdown-item" href="#"><i data-feather="log-out"></i> Cerrar sesión</a>
                            </div>
                        </li> -->
                        <li class="dropdown">
                            <a href="#" data-bs-toggle="dropdown"
                                class="nav-link dropdown-toggle nav-link-lg nav-link-user">
                                <div class="avatar me-1">
                                    <img src="{{STATIC_URL}}assets/images/avatar/avatar-s-1.png" alt="" srcset="">
                                </div>
                                <div class="d-none d-md-block d-lg-inline-block">Hola, {{request.user.get_full_name}}
                                </div>
                            </a>
                            <div class="dropdown-menu dropdown-menu-end">
                                <a class="dropdown-item" href="#"><i data-feather="user"></i> Cuenta</a>
                                <a class="dropdown-item active" href="#"><i data-feather="mail"></i> Mensajes</a>
                                <a class="dropdown-item" href=""><i data-feather="settings"></i> Configuración</a>
                                <a class="dropdown-item" href=""><i data-feather="alert-circle"></i> Cambiar
                                    contraseña</a>
                                <div class="dropdown-divider"></div>
                                <a class="dropdown-item" href="{% url 'authorization:logout' %}"><i
                                        data-feather="log-out"></i> Cerrar sesión</a>
                            </div>
                        </li>
                    </ul>
                </div>
            </nav>

            <div class="main-content container-fluid">
                {% block content %}
                {% endblock content %}


            </div>
            <div class="modal fade text-left" id="inlineForm" tabindex="-1" role="dialog"
                aria-labelledby="myModalLabel33" aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable modal-lg" role="document">
                    <div class="modal-content">

                    </div>
                </div>
            </div>
            <footer>
                <div class="footer clearfix mb-0 text-muted">
                    <div class="float-start">
                        <p>{% now 'Y' %} &copy; Karla Gálvez</p>
                    </div>
                    <div class="float-end">
                        <p>Made with <span class='text-danger'><i data-feather="heart"></i></span> for <a
                                class="text-lunik" href="http://ahmadsaugi.com">Karla Gálvez</a></p>
                    </div>
                </div>
            </footer>
        </div>
    </div>
    <!-- Mainly scripts -->
    <script src="{{STATIC_URL}}assets/js/jquery-3.1.1.min.js"></script>
    <script src="{{STATIC_URL}}assets/js/bootstrap.min.js"></script>
    <script src="{{STATIC_URL}}assets/js/plugins/metisMenu/jquery.metisMenu.js"></script>
    <script src="{{STATIC_URL}}assets/js/plugins/slimscroll/jquery.slimscroll.min.js"></script>
    <script src="https://kit.fontawesome.com/05f3fd1a17.js" crossorigin="anonymous"></script>

    <!-- jQuery UI -->
    <script src="{{STATIC_URL}}assets/js/plugins/jquery-ui/jquery-ui.min.js"></script>
    <!-- Datatables -->
    <script src="{{STATIC_URL}}assets/js/plugins/dataTables/datatables.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.10.2/dist/umd/popper.min.js"></script>
    <!-- Toastr -->
    <script src="{{STATIC_URL}}assets/js/plugins/toastr/toastr.min.js"></script>

    <script src="{{STATIC_URL}}assets/js/feather-icons/feather.min.js"></script>
    <script src="{{STATIC_URL}}assets/vendors/perfect-scrollbar/perfect-scrollbar.min.js"></script>
    <script src="{{STATIC_URL}}assets/js/app.js"></script>

    <script src="{{STATIC_URL}}assets/js/vendors.js"></script>

    <script src="{{STATIC_URL}}assets/js/main.js"></script>
    <script src="{{STATIC_URL}}js/core.js"></script>


    {% block js %}
    {% endblock js %}

    <script>
        $(document).ready(function () {
            $(function () {
                $('[data-toggle="tooltip"]').tooltip()
            })
		    {% include 'core/snippets/messages.html' %}
            {% block docready %}
            {% endblock docready %}
        });
    </script>

</body>

</html>