{% load thumbnail %}
<!DOCTYPE html>
<html lang="en">
<head>
    <title>Karla Gálvez | {% block subtitle %}{% endblock subtitle %}</title>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <meta property="og:type" content="website">
    <meta property="og:url" content="{{request.get_host}}">
    <meta property="og:site_name" content="Karla Gálvez - Tienda en linea">
    <meta property="og:title" content="Karla Gálvez">
    <meta property="og:image" content="{{STATIC_URL}}assets/images/icons/LogoRosa.png">
    
    <link rel="apple-touch-icon" sizes="57x57" href="{{STATIC_URL}}assets/images/icons/favicon/apple-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="60x60" href="{{STATIC_URL}}assets/images/icons/favicon/apple-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="72x72" href="{{STATIC_URL}}assets/images/icons/favicon/apple-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="76x76" href="{{STATIC_URL}}assets/images/icons/favicon/apple-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="114x114" href="{{STATIC_URL}}assets/images/icons/favicon/apple-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="120x120" href="{{STATIC_URL}}assets/images/icons/favicon/apple-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="144x144" href="{{STATIC_URL}}assets/images/icons/favicon/apple-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="152x152" href="{{STATIC_URL}}assets/images/icons/favicon/apple-icon-152x152.png">
    <link rel="apple-touch-icon" sizes="180x180" href="{{STATIC_URL}}assets/images/icons/favicon/apple-icon-180x180.png">
    <link rel="icon" type="image/png" sizes="192x192"  href="/{{STATIC_URL}}assets/images/icons/faviconandroid-icon-192x192.png">
    <link rel="icon" type="image/png" sizes="32x32" href="{{STATIC_URL}}assets/images/icons/favicon/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="96x96" href="{{STATIC_URL}}assets/images/icons/favicon/favicon-96x96.png">
    <link rel="icon" type="image/png" sizes="16x16" href="{{STATIC_URL}}assets/images/icons/favicon/favicon-16x16.png">
    <link rel="manifest" href="{{STATIC_URL}}assets/images/icons/favicon/manifest.json">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="msapplication-TileImage" content="{{STATIC_URL}}assets/images/icons/favicon/ms-icon-144x144.png">
    <meta name="theme-color" content="#ffffff">

<!--===============================================================================================-->
	<link rel="icon" type="image/png" href="{{STATIC_URL}}shop/images/icons/favicon.png"/>
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{{STATIC_URL}}shop/vendor/bootstrap/css/bootstrap.min.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{{STATIC_URL}}shop/fonts/font-awesome-4.7.0/css/font-awesome.min.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{{STATIC_URL}}shop/fonts/themify/themify-icons.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{{STATIC_URL}}shop/fonts/Linearicons-Free-v1.0.0/icon-font.min.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{{STATIC_URL}}shop/fonts/elegant-font/html-css/style.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{{STATIC_URL}}shop/vendor/animate/animate.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{{STATIC_URL}}shop/vendor/css-hamburgers/hamburgers.min.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{{STATIC_URL}}shop/vendor/animsition/css/animsition.min.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{{STATIC_URL}}shop/vendor/select2/select2.min.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{{STATIC_URL}}shop/vendor/daterangepicker/daterangepicker.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{{STATIC_URL}}shop/vendor/slick/slick.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{{STATIC_URL}}shop/vendor/lightbox2/css/lightbox.min.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{{STATIC_URL}}shop/css/util.css">
	<link rel="stylesheet" type="text/css" href="{{STATIC_URL}}shop/css/main.css">
<!--===============================================================================================-->
<!-- Floating Whatsapp CSS -->
    <!-- <link rel="stylesheet" type="text/css" media="screen" href="{{STATIC_URL}}site/css/floating-wpp.min.css" -->
    <!-- Toastr style -->
    <link href="{{STATIC_URL}}assets/css/plugins/toastr/toastr.min.css" rel="stylesheet">

    {% block customcss %}
    {% endblock customcss %}

	<!-- Load Stripe.js on your website. -->
	<script src="https://js.stripe.com/v3/"></script>
</head>
<body class="animsition">
	<div class="header-table-cart">
		{% include 'includes/partial_cart.html' %}
	</div>

	<!-- Header -->
	<header {% block showheader %}{% endblock showheader %} class="header1">
		<!-- Header desktop -->
		<div class="container-menu-header">
			<div class="topbar">
				<div class="topbar-social">
					<a href="https://www.facebook.com/lunikdiseno/" target="_blank" class="topbar-social-item fa fa-facebook"></a>
					<a href="https://www.instagram.com/karlagalvezdesign/" target="_blank" class="topbar-social-item fa fa-instagram"></a>
				</div>

				<span class="topbar-child1">
					¡Envio gratis en compras mayores a $1999 🚚 🤩
				</span>

				<div class="topbar-child2">
					<span class="topbar-email">
						hola@karlagalvez.com.mx
					</span>

				</div>
			</div>

			<div class="wrap_header">
				<!-- Logo -->
				<a href="{% url 'shop:shop_list' %}" class="logo">
					<img src="{{STATIC_URL}}assets/images/icons/logoKGNegro.png" alt="IMG-LOGO">
				</a>

				<!-- Menu -->
				<div class="wrap_menu">
					<nav class="menu">
						<ul class="main_menu">
							<li>
								<a href="{% url 'shop:shop_list' %}">Inicio</a>
							</li>

							<li>
								<a href="{% url 'shop:products_list' 'agendas'%}">Agendas</a>
                                <ul class="sub_menu">
									<li><a href="{% url 'shop:products_list' 'agendas' %}?subcategory=personalizadas">Personalizadas</a></li>
									<li><a href="{% url 'shop:products_list' 'agendas' %}?subcategory=sinpersonalizar">Sin personalizar</a></li>
									<li><a href="{% url 'shop:products_list' 'agendas' %}?subcategory=escolar">Escolares</a></li>
								</ul>
							</li>

							<!-- <li class="sale-noti"> -->
                            <li>
								<a href="{% url 'shop:products_list' 'planners' %}">Planners</a>
							</li>

							<li>
								<a href="{% url 'shop:products_list' 'libretas' %}">Libretas</a>
							</li>

							<li>
								<a>Más</a>
								<ul class="sub_menu">
									<li><a href="{% url 'shop:products_list' 'recetarios' %}">Recetarios</a></li>
									<li><a href="{% url 'shop:products_list' 'organizadores' %}?subcategory=embarazo">Pregnacy planner</a></li>
									<li><a href="{% url 'shop:products_list' 'organizadores' %}?subcategory=boda">Wedding planner</a></li>
								</ul>
							</li>

						</ul>
					</nav>
				</div>

				<!-- Header Icon -->
				<div class="header-icons">
					{% if request.user.is_authenticated and request.user.is_customer %}
					<div class="header-wrapicon2 dis-block flex-c-m size1 js-show-header-dropdown">
						<img src="{{STATIC_URL}}shop/images/icons/icon-header-01.png" class="header-icon1 " alt="ICON">
						<span class="m-l-9">{{request.user.get_full_name}}</span>
						<div class="header-cart header-dropdown">
							<div class="header-cart-buttons">
								<div class="header-cart-wrapbtn">
									<!-- Button -->
									<a href="{% url 'dashboard:orders' %}" class="flex-c-m size1 bg1 bo-rad-20 hov1 s-text14 trans-0-4">
										Pedidos
									</a>
								</div>

								<div class="header-cart-wrapbtn">
									<!-- Button -->
									<a href="{% url 'dashboard:profile' %}" class="flex-c-m size1 bg1 bo-rad-20 hov1 s-text14 trans-0-4">
										Perfil
									</a>
								</div>
							</div>
							<div class="header-cart-buttons m-t-10">
								<div class="header-cart-wrapbtn">
									<!-- Button -->
									<a href="{% url 'dashboard:address' %}" class="flex-c-m size1 bg1 bo-rad-20 hov1 s-text14 trans-0-4">
										Direcciones
									</a>
								</div>

								<div class="header-cart-wrapbtn">
									<!-- Button -->
									<a href="{% url 'register:logout' %}" class="flex-c-m size1 bg1 bo-rad-20 hov1 s-text14 trans-0-4">
										Cerrar sesión
									</a>
								</div>
							</div>
						</div>
					</div>
					{% else %}
					<a href="{% url 'register:login' %}" class="header-wrapicon1 dis-block">
						<img src="{{STATIC_URL}}shop/images/icons/icon-header-01.png" class="header-icon1" alt="ICON">
					</a>
					{% endif %}
					<span class="linedivide1"></span>	
					
					<div class="header-wrapicon2" {% block displaycartheader %}{% endblock displaycartheader %}>
						<img src="{{STATIC_URL}}shop/images/icons/icon-header-02.png" id="cartHeaderToggle1" class="header-icon1 js-show-header-dropdown cartBarToggle" alt="ICON">
						<span id="quantity_cart" class="header-icons-noti">{{cart.get_quantity_products}}</span>
												
					</div>
				</div>
			</div>
		</div>

		<!-- Header Mobile -->
		<div class="wrap_header_mobile">
			<!-- Logo moblie -->
			<a href="{% url 'shop:shop_list' %}" class="logo-mobile">
				<img src="{{STATIC_URL}}assets/images/icons/logoKGNegro.png" alt="IMG-LOGO">
			</a>

			<!-- Button show menu -->
			<div class="btn-show-menu">
				{% if request.user.is_authenticated and request.user.is_customer %}
				<div class="header-icons-mobile">
					<div class="header-wrapicon2">
						<span class="m-l-3 m-r-10 js-show-header-dropdown">{{request.user.first_name}}</span>
						<div class="header-cart header-dropdown">
							<div class="header-cart-buttons">
								<div class="header-cart-wrapbtn">
									<!-- Button -->
									<a href="{% url 'dashboard:orders' %}" class="flex-c-m size1 bg1 bo-rad-20 hov1 s-text14 trans-0-4">
										Pedidos
									</a>
								</div>

								<div class="header-cart-wrapbtn">
									<!-- Button -->
									<a href="{% url 'dashboard:profile' %}" class="flex-c-m size1 bg1 bo-rad-20 hov1 s-text14 trans-0-4">
										Perfil
									</a>
								</div>
							</div>
							<div class="header-cart-buttons m-t-10">
								<div class="header-cart-wrapbtn">
									<!-- Button -->
									<a href="{% url 'dashboard:address' %}" class="flex-c-m size1 bg1 bo-rad-20 hov1 s-text14 trans-0-4">
										Direcciones
									</a>
								</div>

								<div class="header-cart-wrapbtn">
									<!-- Button -->
									<a href="{% url 'register:logout' %}" class="flex-c-m size1 bg1 bo-rad-20 hov1 s-text14 trans-0-4">
										Cerrar sesión
									</a>
								</div>
							</div>
						</div>
					</div>
					<div class="header-wrapicon2">
						<img src="{{STATIC_URL}}shop/images/icons/icon-header-02.png" id="cartHeaderToggle2" class="header-icon1 cartBarToggle" alt="ICON">
						<span class="header-icons-noti">{{cart.get_quantity_products}}</span>
					</div>
				</div>
				{% else %}
				<!-- Header Icon mobile -->
				<div class="header-icons-mobile">
					<a href="{% url 'register:login' %}" class="header-wrapicon1 dis-block">
						<img src="{{STATIC_URL}}shop/images/icons/icon-header-01.png" class="header-icon1" alt="ICON">
					</a>

					<span class="linedivide2"></span>

					<div class="header-wrapicon2">
						<img src="{{STATIC_URL}}shop/images/icons/icon-header-02.png" id="cartHeaderToggle2" class="header-icon1 cartBarToggle" alt="ICON">
						<span class="header-icons-noti">{{cart.get_quantity_products}}</span>


					</div>
				</div>
				{% endif %}

				<div class="btn-show-menu-mobile hamburger hamburger--squeeze">
					<span class="hamburger-box">
						<span class="hamburger-inner"></span>
					</span>
				</div>
			</div>
		</div>

		<!-- Menu Mobile -->
		<div class="wrap-side-menu" >
			<nav class="side-menu">
				<ul class="main-menu">
					<li class="item-topbar-mobile p-l-20 p-t-8 p-b-8">
						<span class="topbar-child1">
							¡Envio gratis en compras mayores a $1999 🚚 🤩
						</span>
					</li>

					<li class="item-topbar-mobile p-l-20 p-t-8 p-b-8">
						<div class="topbar-child2-mobile">
							<span class="topbar-email">
								hola@karlagalvez.com.mx
							</span>
						</div>
					</li>

					<li class="item-topbar-mobile p-l-10">
						<div class="topbar-social-mobile">
							<a href="https://www.instagram.com/karlagalvezdesign/" target="_blank" class="topbar-social-item fa fa-facebook"></a>
							<a href="https://www.instagram.com/karlagalvezdesign/" target="_blank" class="topbar-social-item fa fa-instagram"></a>
						</div>
					</li>

					<li class="item-menu-mobile">
						<a href="{% url 'shop:shop_list' %}">Inicio</a>
					</li>

					<li class="item-menu-mobile">
						<a href="{% url 'shop:products_list' 'agendas'%}">Agendas</a>
						<ul class="sub-menu">
							<li><a href="{% url 'shop:products_list' 'agendas' %}?subcategory=personalizadas">Personalizadas</a></li>
							<li><a href="{% url 'shop:products_list' 'agendas' %}?subcategory=sinpersonalizar">Sin personalizar</a></li>
							<li><a href="{% url 'shop:products_list' 'agendas' %}?subcategory=escolar">Escolares</a></li>
						</ul>
						<i class="arrow-main-menu fa fa-angle-right" aria-hidden="true"></i>
					</li>

					<li class="item-menu-mobile">
						<a href="{% url 'shop:products_list' 'planners' %}">Planners</a>
					</li>

					<li class="item-menu-mobile">
						<a href="{% url 'shop:products_list' 'libretas' %}">Libretas</a>
					</li>

					<li class="item-menu-mobile">
						<a>Más</a>
						<ul class="sub-menu">
							<li><a href="{% url 'shop:products_list' 'recetarios' %}">Recetarios</a></li>
							<li><a href="{% url 'shop:products_list' 'organizadores' %}?subcategory=embarazo">Pregnacy planner</a></li>
							<li><a href="{% url 'shop:products_list' 'organizadores' %}?subcategory=boda">Wedding planner</a></li>
						</ul>
						<i class="arrow-main-menu fa fa-angle-right" aria-hidden="true"></i>
					</li>
				</ul>
			</nav>
		</div>
	</header>

	{% block headercheckout %}{% endblock headercheckout %}

    {% block content %}
    {% endblock content %}
	<!-- Footer -->
	<footer {% block showfooter %}{% endblock showfooter %} class="bg9 p-t-45 p-b-43 p-l-45 p-r-45">
		<div class="flex-w p-b-90">
			<div class="w-size6 p-t-30 p-l-15 p-r-15 respon3">
				<h4 class="s-text12 p-b-30">
				¿Necesitas ayuda?
				</h4>

				<div>
					<p class="s-text7 w-size27">
						Para cualquier comentario, duda o sugerencia puedes contactanos a través del correo <span style="color: black;">hola@karlagalvez.com.mx</span>
                         o a través de nuestro Whatsapp al <span style="color: black;">(668) 172 2511.</span> Horario de atención de <span style="color: black;">Lunes</span> a <span style="color: black;">Viernes</span> de 10:00 am a 07:00 pm
					</p>

					<div class="flex-m p-t-30">
						<a href="#" class="fs-18 color1 p-r-20 fa fa-facebook"></a>
						<a href="#" class="fs-18 color1 p-r-20 fa fa-instagram"></a>
					</div>
				</div>
			</div>

			<div class="w-size7 p-t-30 p-l-15 p-r-15 respon4">
				<h4 class="s-text12 p-b-30">
					Agendas y más
				</h4>

				<ul>
					<li class="p-b-9">
						<a href="{% url 'shop:products_list' 'agendas'%}" class="s-text7">
							Agendas
						</a>
					</li>

					<li class="p-b-9">
						<a href="{% url 'shop:products_list' 'planners'%}" class="s-text7">
							Planners
						</a>
					</li>

					<li class="p-b-9">
						<a href="{% url 'shop:products_list' 'libretas'%}" class="s-text7">
							Libretas
						</a>
					</li>
				</ul>
			</div>

			<div class="w-size7 p-t-30 p-l-15 p-r-15 respon4">
				<h4 class="s-text12 p-b-30">
					Información
				</h4>

				<ul>
					<li class="p-b-9">
						<a href="/politicas/envios" class="s-text7">
							Envios
						</a>
					</li>

                    <li class="p-b-9">
						<a href="/facturacion" class="s-text7">
							Facturación
						</a>
					</li>

					<li class="p-b-9">
						<a href="/politicas/terminos-condiciones" class="s-text7">
							Términos y Condiciones
						</a>
					</li>

					<li class="p-b-9">
						<a href="/politicas/aviso-privacidad" class="s-text7">
							Aviso de privacidad
						</a>
					</li>
				</ul>
			</div>

			<!-- <div class="w-size8 p-t-30 p-l-15 p-r-15 respon3">
				<h4 class="s-text12 p-b-30">
					Promociones
				</h4>

				<form>
					<div class="effect1 w-size9">
						<input class="s-text7 bg6 w-full p-b-5" type="text" name="email" placeholder="email@example.com">
						<span class="effect1-line"></span>
					</div>

					<div class="w-size2 p-t-20">
						<button class="flex-c-m size2 bg4 bo-rad-23 hov1 m-text3 trans-0-4">
							¡Suscribete!
						</button>
					</div>

				</form>
			</div> -->
		</div>

		<div class="t-center p-l-15 p-r-15">

			<div class="t-center s-text8 p-t-20">
				Copyright © {% now 'Y' %} Todos los derechos reservados
			</div>
		</div>
	</footer>



	<!-- Back to top -->
	<div class="btn-back-to-top bg0-hov" id="myBtn">
		<span class="symbol-btn-back-to-top">
			<i class="fa fa-angle-double-up" aria-hidden="true"></i>
		</span>
	</div>

	<!-- Container Selection1 -->
	<div id="dropDownSelect1"></div>



<!--===============================================================================================-->
	<script type="text/javascript" src="{{STATIC_URL}}shop/vendor/jquery/jquery-3.2.1.min.js"></script>
<!--===============================================================================================-->
	<script type="text/javascript" src="{{STATIC_URL}}shop/vendor/animsition/js/animsition.min.js"></script>
<!--===============================================================================================-->
	<script type="text/javascript" src="{{STATIC_URL}}shop/vendor/bootstrap/js/popper.js"></script>
	<script type="text/javascript" src="{{STATIC_URL}}shop/vendor/bootstrap/js/bootstrap.min.js"></script>
<!--===============================================================================================-->
	<script type="text/javascript" src="{{STATIC_URL}}shop/vendor/select2/select2.min.js"></script>
	<script type="text/javascript">
		$(".selection-1").select2({
			minimumResultsForSearch: 20,
			dropdownParent: $('#dropDownSelect1')
		});
	</script>
<!--===============================================================================================-->
	<script type="text/javascript" src="{{STATIC_URL}}shop/vendor/slick/slick.min.js"></script>
	<script type="text/javascript" src="{{STATIC_URL}}shop/js/slick-custom.js"></script>
<!--===============================================================================================-->
	<script type="text/javascript" src="{{STATIC_URL}}shop/vendor/countdowntime/countdowntime.js"></script>
<!--===============================================================================================-->
	<script type="text/javascript" src="{{STATIC_URL}}shop/vendor/lightbox2/js/lightbox.min.js"></script>
<!--===============================================================================================-->
	<script type="text/javascript" src="{{STATIC_URL}}shop/vendor/sweetalert/sweetalert.min.js"></script>
	<script type="text/javascript">
		// $('.block2-btn-addcart').each(function(){
		// 	var nameProduct = $(this).parent().parent().parent().find('.block2-name').html();
		// 	$(this).on('click', function(){
		// 		swal(nameProduct, "is added to cart !", "success");
		// 	});
		// });

		// $('.block2-btn-addwishlist').each(function(){
		// 	var nameProduct = $(this).parent().parent().parent().find('.block2-name').html();
		// 	$(this).on('click', function(){
		// 		swal(nameProduct, "is added to wishlist !", "success");
		// 	});
		// });
	</script>

<!--===============================================================================================-->
	<script src="{{STATIC_URL}}shop/js/main.js"></script>
    
	<script src="{{STATIC_URL}}js/shop.js"></script>
<!-- Floating Whatsapp js -->
    <!-- <script type="text/javascript" src="{{STATIC_URL}}site/js/floating-wpp.js"></script> -->
    <!-- Toastr -->
    <script src="{{STATIC_URL}}assets/js/plugins/toastr/toastr.min.js"></script>

    {% block customjs %}
    {% endblock customjs %}

    {% if info.whatsapp %}
    <script type="text/javascript">
        $(function () {
            $('#myDiv').floatingWhatsApp({
                phone: '6681722511',
                popupMessage: 'Hola, ¿En que podemos ayudarte?',
                showPopup: true,
                messenger: true,
                position: 'right',
                headerTitle: 'Karla Gálvez',
                zIndex : 100
            });
        });
    </script>
    {% endif %}

	<script type="text/javascript">
    $(document).ready(function(){
		$('.header-table-cart').on('click', '.cartBarToggle', function(event) {
			event.preventDefault();
			$('.cart-bar').toggleClass('toggled');
		})
		$('#cartHeaderToggle1').on('click', function(event) {
			event.preventDefault();
			$('.cart-bar').toggleClass('toggled');
		});
		$('#cartHeaderToggle2').on('click', function(event) {
			event.preventDefault();
			$('.cart-bar').toggleClass('toggled');
		});
		{% include 'core/snippets/messages.html' %}

		{% block docready %}

		{% endblock docready %}

    })
	</script>

</body>
</html>

