{% extends 'base_shop.html' %}
{% block subtitle %} Aviso de privacidad {% endblock subtitle %}
{% block content %}
<article class="acercade p-5 ">
    <section class="container mb-5">
        <div class="item d-flex justify-content-center flex-column align-items-center">
            <h1 class="textAcerca mb-4">Políticas de privacidad</h1>
        </div>
        <div class="row ">
            <div class="col-lg-12 col-md-12 col-sm-12 mt-3 ">
                <p class=" descAcerca mb-4">El presente documento constituye el “Aviso de Privacidad” de KARLAGALVEZ, y de sus filiales y subsidiarias así 
                    como sus marcas, (en lo sucesivo “KARLAGALVEZ”), en donde se establece la manera en que será tratada su información por parte de 
                    KARLAGALVEZ, así como la finalidad para la que fue recabada, lo anterior de conformidad con los artículos 15 y 16 de Ley 
                    Federal de Protección de Datos Personales en Posesión de los Particulares (la “Ley”).</span></p>
                <p class=" descAcerca mb-4">KARLAGALVEZ respeta su derecho a la privacidad y protección de datos personales, datos personales sensibles, 
                    incluyendo sus datos financieros o patrimoniales, los cuales están amparados bajo la Ley. La base de datos en donde consta su 
                    información es responsabilidad de KARLAGALVEZ, asimismo su información se encuentra debidamente resguardada conforme a las 
                    disposiciones de seguridad administrativa, técnica y física, establecidas en la Ley de la materia, para protegerla de los 
                    posibles daños, pérdidas, alteración o acceso no autorizado.</p>
                <h4 class="descAcerca mb-4">Datos sensibles</h4>
                <p class=" descAcerca mb-4">El Titular de la Información reconoce y acepta, que debido a su relación con KARLAGALVEZ no ha proporcionado, 
                    ni tendrá que proporcionar “datos personales sensibles”, es decir, aquellos datos personales íntimos o cuya realización debida o 
                    indebida pueda dar origen a discriminación o conlleve un riesgo grave para éste. En el supuesto de que el Titular de la Información 
                    proporcione datos del tipo de los llamados sensibles, deberá estar de acuerdo en proporcionarlos previamente y dejará a KARLAGALVEZ 
                    libre de cualquier queja o reclamación respectiva.</p>
                <h4 class="descAcerca mb-4">Solicitudes</h4>
                <p class=" descAcerca mb-4">El titular podrá ejercer los derechos de acceso, rectificación, cancelación u oposición, respecto a los datos 
                    personales que le conciernen, así como también solicitar la revocación de su consentimiento, enviando una solicitud a KARLAGALVEZ a 
                    través del sitio web https://karlagalvez.com.mx/ o al correo electrónico hola@karlagalvez.com.mx indicando por lo menos su nombre y domicilio 
                    completo o cualquier otro dato o documento que permita su identificación, así como el objeto de su solicitud y/o trámite a efectuar. 
                    Lo anterior se deberá realizar en base a la Ley y su Reglamento.</p>
                <h4 class="descAcerca mb-4">Finalidad</h4>
                <p class=" descAcerca mb-4">Sus datos personales e historial como cliente será utilizado por KARLAGALVEZ o por cualquiera de sus 
                    subsidiarias y/o filiales, y quedarán registrados en nuestra base de datos, así como cualquier otra información personal, 
                    sensible o de cualquier otra índole, siempre que se cumpla con lo establecido en la Ley y su Reglamento respecto a cada tipo de 
                    información. Esta información puede ser utilizada por KARLAGALVEZ para cualquiera de las siguientes finalidades:</p>
                <p class=" descAcerca mb-4" style="color: black;">1. Finalidad Comercial</p>
                <p class=" descAcerca mb-4">(i) Nombre del Titular de la Información, domicilio, RFC, teléfono, número de cuenta de facturación, 
                    fecha de nacimiento, datos bancarios.</p>
                <p class=" descAcerca mb-4">Esta información podrá usarse de manera enunciativa mas no limitativa para: (1) ofrecerle productos y 
                    servicios, ya sea de manera física, telefónica, electrónica o por cualquier otra tecnología o medio que esté al alcance de KARLAGALVEZ; 
                    (2) hacer de su conocimiento nuevos productos o servicios que puedan ser de interés en relación con el servicio contratado; (3) 
                    realizar para su comodidad los cargos facturados de manera automática; (4) emitir órdenes de compra o solicitudes de trabajo, 
                    según corresponda; y/o (5) cualquier otra acción que sea necesaria para cumplir con los intereses de KARLAGALVEZ respecto al 
                    acuerdo que haya llegado con el Titular de la Información.</p>
                <h4 class="descAcerca mb-4">Transferencia</h4>
                <p class=" descAcerca mb-4">El Titular de la Información entiende y acepta que KARLAGALVEZ y/o cualquiera de sus subsidiarias y/o 
                    filiales, podrá transferir sus datos personales a terceros que han sido contratados por KARLAGALVEZ para que realicen en su nombre y 
                    representación ciertas tareas relacionadas con las actividades comerciales y de promoción de sus productos y/o servicios. 
                    Estas terceras partes pueden tratar los datos en cumplimiento de las instrucciones de KARLAGALVEZ, o tomar decisiones sobre ellos como 
                    parte de la prestación de sus servicios. En cualquiera de los dos casos, KARLAGALVEZ seleccionará proveedores que considere confiables y 
                    que se comprometan, mediante un contrato u otros medios legales aplicables, a implementar las medidas de seguridad necesarias 
                    para garantizar un nivel de protección adecuado a sus datos personales. Derivado de lo anterior, KARLAGALVEZ exigirá a sus proveedores 
                    que cumplan con medidas de seguridad que garanticen los mismos niveles de protección que KARLAGALVEZ implementa durante el tratamiento 
                    de sus datos como cliente de KARLAGALVEZ. Estas terceras partes seleccionadas tendrán acceso a su información con la finalidad de 
                    realizar las tareas especificadas en el contrato de servicios aplicable que haya suscrito con KARLAGALVEZ. Si KARLAGALVEZ determina 
                    que un proveedor no está cumpliendo con las obligaciones pactadas, tomará inmediatamente las acciones pertinentes.  
                    Los receptores de sus datos podrán hallarse en el extranjero, incluso a países que no posean legislación adecuada en materia de 
                    Protección de Datos Personales. Para ello, tomaremos medidas para asegurar que tus derechos de privacidad sigan siendo protegidos 
                    según lo estipulado en la presente Política. Para realizar estas transferencias, cumpliremos con lo dispuesto por la Ley.</p>
                <p class=" descAcerca mb-4">Si el titular, no acepta la transmisión de sus datos personales de conformidad con lo estipulado en el párrafo 
                    anterior, puede ponerse en contacto con KARLAGALVEZ, por cualquiera de los medios establecidos en el presente Aviso de Privacidad.                  </p>
                <h4 class="descAcerca mb-4">Excepciones</h4>
                <p class=" descAcerca mb-4">I.  Esté previsto en una Ley;</p>
                <p class=" descAcerca mb-4">II. Los datos figuren en fuentes de acceso público;</p>
                <p class=" descAcerca mb-4">III. Los datos personales se sometan a un procedimiento previo de disociación;</p>
                <p class=" descAcerca mb-4">1. Tenga el propósito de cumplir obligaciones derivadas de una relación jurídica entre el titular y el 
                    responsable;</p>
                <p class=" descAcerca mb-4">2. Exista una situación de emergencia que potencialmente pueda dañar a un individuo en su persona o 
                    en sus bienes;</p>
                <p class=" descAcerca mb-4">3. Sean indispensables para la atención médica, la prevención, diagnóstico, la prestación de 
                    asistencia sanitaria, tratamientos médicos o la gestión de servicios sanitarios;</p>
                <p class=" descAcerca mb-4">VII. Se dicte resolución de autoridad competente;</p>
                <p class=" descAcerca mb-4">VIII. Cuando la transferencia sea precisa para el reconocimiento, ejercicio o defensa de un derecho en un 
                    proceso judicial, y</p>
                <p class=" descAcerca mb-4">1. Cuando la transferencia sea precisa para el mantenimiento o cumplimiento de una relación jurídica entre el 
                    responsable y el titular.</p>
                <h4 class="descAcerca mb-4">Modificaciones</h4>
                <p class=" descAcerca mb-4">En caso de que se requiera alguna modificación a lo estipulado en el presente Aviso de Privacidad, KARLAGALVEZ se obliga a 
                    hacer del conocimiento los cambios que en su caso se requieran, por cualquier medio, incluidos los electrónicos, previo aviso que se le de a usted 
                    para que se manifieste por su parte, lo que a su derecho convenga, ya que de no recibir negativa expresa y por escrito de su parte, o bien, respuesta 
                    alguna, se entenderá que usted acepta de conformidad los cambios realizados.</p>
                <h4 class="descAcerca mb-4">Consentimiento del Titular</h4>
                <p class=" descAcerca mb-4">El Titular de la Información reconoce y acepta que en caso de que este “Aviso de Privacidad” esté disponible a través de 
                    una página electrónica (sitio web, página de Internet o similar) o algún otro dispositivo electrónico, al seguir navegando en el sitio, o bien al 
                    proporcionar sus Datos a través del mismo o a través de cualquier medio electrónico (correo electrónico, etc.), constituye una manifestación de su 
                    consentimiento para que KARLAGALVEZ realice el tratamiento de sus Datos, de conformidad con este Aviso de Privacidad.</p>
                <p class=" descAcerca mb-4">Asimismo de igual manera manifiesta que en caso de que este “Aviso de Privacidad” esté disponible por escrito, su firma, 
                    rúbrica, nombre o huella o bien al proporcionar sus Datos, constituye una manifestación de su consentimiento para que KARLAGALVEZ realice el 
                    tratamiento de sus datos, de conformidad con este “Aviso de Privacidad”.</p>
                <h4 class="descAcerca mb-4">Cookies</h4>
                <p class=" descAcerca mb-4">Una cookie es un elemento de información, como una etiqueta, que se almacena en su ordenador, tableta o teléfono cuando 
                    visita un sitio web. Puede ayudar a identificar su dispositivo (como su ordenador o teléfono móvil) cada vez que visite dicho sitio web.</p>
                <p class=" descAcerca mb-4">La mayoría de los sitios web utilizan cookies, también el de KARLAGALVEZ. Para usar de manera óptima este sitio web, sea 
                    cual sea el dispositivo que utilice, deberá asegurarse de que la configuración de su navegador acepta cookies.</p>
                <p class=" descAcerca mb-4">Utilizamos las cookies y otros datos almacenados en su dispositivo para:</p>
                <p class=" descAcerca mb-4"><i class="fa fa-circle" style="color: black;"></i> proporcionarle una experiencia en línea más satisfactoria;</p>
                <p class=" descAcerca mb-4"><i class="fa fa-circle" style="color: black;"></i> permitirle configurar sus preferencias personales;</p>
                <p class=" descAcerca mb-4"><i class="fa fa-circle" style="color: black;"></i> proteger su seguridad;</p>
                <p class=" descAcerca mb-4"><i class="fa fa-circle" style="color: black;"></i> medir y mejorar nuestro servicio, y;</p>
                <p class=" descAcerca mb-4"><i class="fa fa-circle" style="color: black;"></i> trabajar con socios y medir las acciones de marketing.</p>

                <p class=" descAcerca mb-4">Normalmente, una cookie contiene:</p>
                <p class=" descAcerca mb-4"><i class="fa fa-circle" style="color: black;"></i> el nombre del sitio web de donde procede;</p>
                <p class=" descAcerca mb-4"><i class="fa fa-circle" style="color: black;"></i> el tiempo que la cookie permanecerá en su dispositivo; y</p>
                <p class=" descAcerca mb-4"><i class="fa fa-circle" style="color: black;"></i> un valor, normalmente un único número generado aleatoriamente</p>

                <p class=" descAcerca mb-4">En el sitio utilizamos las siguientes categorías de cookies:</p>
                <p class=" descAcerca mb-4"><i class="fa fa-circle" style="color: black;"></i> Categoría 1: Cookies técnicas (estrictamente necesarias)                </p>
                <p class=" descAcerca mb-4"><i class="fa fa-circle" style="color: black;"></i> Categoría 2: Cookies de funcionalidad</p>

                <h4 class="descAcerca mb-4">Notificación de cambios del aviso</h4>
                <p class=" descAcerca mb-4">Si KARLAGALVEZ cambia este aviso de privacidad, dichos cambios aparecerán en el sitio web 
                    https://karlagalvez.com.mx/.</p>
                <p class=" descAcerca mb-4">Si usted tiene alguna pregunta o desea ejercer algún derecho relacionada con esta declaración de privacidad, 
                    por favor comuníquese con KARLAGALVEZ y/o sus empresas filiales a la siguiente dirección: hola@karlagalvez.com.mx.</p>
                <p class=" descAcerca mb-4" style="color: black; font-style: italic;">Este aviso de privacidad ha sido creado en base a las reglas expedidas 
                    por la Ley Federal de Protección de Datos Personales en Posesión de los Particulares con fundamento en los artículos 16, 17 y 36 de 
                    la Ley y corresponsales de su Reglamento.</p>
                <p class=" descAcerca mb-4"></p>





            </div>
        </div>
        
    </section>
</article>

{% endblock content %}
