
            <div class="modal-header" style="border-bottom: 0px solid transparent;">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <i class="hover-icon  fas fa-window-close d-flex align-items-center align-self-start fa-md mr-1"
                        style="cursor: pointer;color: #092647;"></i>
                </button>
            </div>
            <div class="modal-body p-5">
                <div class="row">
                    <div class="col-lg-6 col-md-12 col-xs-12">
                        <div id="owl-detalle" class="owl-carousel owl-theme">
                            <div class="itemSlide SlideS"
                                style="background-image:  url({{STATIC_URL}}site/custom/media/producto/detalle1.png);">
                            </div>
                            <div class="itemSlide SlideS"
                                style="background-image: url({{STATIC_URL}}site/custom/media/producto/detalle2.png);">
                            </div>
                            <div class="itemSlide SlideS"
                                style="background-image: url({{STATIC_URL}}site/custom/media/producto/detalle3.png);">
                            </div>
                        </div>
                        <div class="item d-flex justify-content-center w-100 ml-4 mt-3">
                            <label class="radiodesign">
                                <input type="radio" name="radio" id="desactive" required>
                                <span class="checkmark" style="background-color: #FFB576"></span>
                            </label>
                            <label class="radiodesign">
                                <input type="radio" name="radio" id="desactive" required>
                                <span class="checkmark" style="background-color: #A576FF"></span>
                            </label>
                            <label class="radiodesign">
                                <input type="radio" name="radio" id="desactive" required>
                                <span class="checkmark" style="background-color: #76B6FF"></span>
                            </label>
                            <label class="radiodesign">
                                <input type="radio" name="radio" id="desactive" required>
                                <span class="checkmark" style="background-color: #A0FF76"></span>
                            </label>
                            <label class="radiodesign">
                                <input type="radio" name="radio" id="desactive" required>
                                <span class="checkmark" style="background-color: #FF76EF"></span>
                            </label>
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-12 col-xs-12 d-flex ">
                        <div class="size">
                            <div class="item">
                                <p class="titleDescription mb-1">Malla Gris / Rojo</p>
                                <p class="textDescription mb-0">Algodon / Oscuro Linaso Strech SD3 con vistas rojas de
                                    spandex</p>
                                <p class="priceDescription mt-3 mb-0">$660</p>
                                <div class="item mt-4">
                                    <ul class="pb-0" style="padding-left: 1rem;">
                                        <li class="listDescription">Efecto Loco</li>
                                        <li class="listDescription">Efecto Push</li>
                                        <li class="listDescription">Efecto Licra</li>
                                        <li class="listDescription">Efecto Chico</li>
                                        <li class="listDescription">Efecto Gande</li>
                                    </ul>
                                </div>
                            </div>
                            <div class="item mb-2">
                                <label class="mb-0 listDescription">Cantidad:</label>
                                <input class="form-control inputStyle" type="number" placeholder="0" style="width:15%;"
                                    required>
                                <label class="mb-0 listDescription">Talla:</label>
                                <input class="form-control inputStyle" type="number" placeholder="0" style="width:15%;"
                                    required>
                            </div>
                        </div>
                    </div>
                    <div class="offset-md-6 col-md-6 mt-2">
                        <div class="item d-flex justify-content-start">
                            <button type="button" class="btn btn-cerrar mr-3" data-dismiss="modal">CERRAR</button>
                            <button type="button" class="btn btn-agregar ml-4 "> AGREGAR AL CARRITO</button>
                        </div>
                    </div>
                </div>
            </div>
