{% extends 'base_auth.html' %}

{% load humanize %}

{% block title %}Registro{% endblock title %}

{% block background %}{{STATIC_URL}}assets/images/background/backgroud-auth-2.jpg{% endblock background %}

{% block content %}

<div class="row">
<div class="col-md-5 col-sm-12 mx-auto">
    <div class="card pt-4">
        <div class="card-body">
            <div class="text-center mb-3">
                <img src="{{STATIC_URL}}assets/images/icons/logoRosa.png" class='mb-4 logoLunik'>
                <h3>Registro</h3>
                <span>Ingresa tus datos</span>
            </div>
            <form method="POST" role="form">
              {% csrf_token %}
              {% include 'core/snippets/form_messages.html' with form=register_form %}
                <div class="row">
                    <div class="col-md-6 col-12">
                        <div class="form-group position-relative has-icon-left">
                            <label for="username">Nombre(s)</label>
                            <div class="position-relative">
                                {{register_form.first_name}}
                                <div class="form-control-icon">
                                    <i data-feather="user"></i>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 col-12">
                        <div class="form-group position-relative has-icon-left">
                            <label for="username">Apellidos</label>
                            <div class="position-relative">
                                {{register_form.last_name}}
                                <div class="form-control-icon">
                                    <i data-feather="user"></i>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 col-12">
                        <div class="form-group position-relative has-icon-left">
                            <label for="username">Correo electrónico</label>
                            <div class="position-relative">
                                {{register_form.email}}
                                <div class="form-control-icon">
                                    <i data-feather="at-sign"></i>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 col-12">
                        <div class="form-group position-relative has-icon-left">
                            <div class="clearfix">
                                <label for="password">Contraseña</label>
                            </div>
                            <div class="position-relative">
                                {{register_form.password}}
                                <div class="form-control-icon">
                                    <i data-feather="lock"></i>
                                </div>
                            </div>
                        </div>
                    </div>
                </diV>
                <div class="clearfix text-center">
                    <button class="btn btn-lunik">Registrame</button>
                </div>
                <div class="divider">
                    <div class="divider-text">O</div>
                </div>
                <div class="row">
                    <div class="text-center mb-3">
                        <span>¿Ya tienes una cuenta?</span>
                    </div>
                    <div class="clearfix text-center">
                        <a href="{% url 'register:login' %}" class="btn btn-lunik">Iniciar sesión</a>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
</div>
{% endblock content %}

<!-- Form fields errors -->
{% block docready %}
{% include 'core/snippets/form_validation.html' with form=register_form %}
{% include 'core/snippets/messages_error.html' with form=register_form %}
{% endblock docready %}
