{% extends 'base_auth.html' %}
{% block title %}Ingresar{% endblock title %}

{% block subtitle %}Ingresar{% endblock subtitle %}

{% block background %}{{STATIC_URL}}assets/images/background/backgroud-auth-0.jpg{% endblock background %}

{% block content %}

<div class="row">
<div class="col-md-5 col-sm-12 mx-auto">
    <div class="card pt-4">
        <div class="card-body">
            <div class="text-center mb-3">
                <img src="{{STATIC_URL}}assets/images/icons/logoKGNegro.png" class='mb-4 logoLunik'>
                <h3>Ingresar</h3>
                <span>Ingresa tus datos</span>
				{% if not_user %}<p><span style="color: brown;">{{not_user}}</span></p>{% endif %}
            </div>
            <form method="POST" role="form">
              {% csrf_token %}
              {% include 'core/snippets/form_messages.html' with form=form %}
                <div class="row">
                    <div class="col-md-6 col-12">
                        <div class="form-group position-relative has-icon-left">
                            <label for="username">Correo electrónico</label>
                            <div class="position-relative">
                                {{form.email}}
                                <div class="form-control-icon">
                                    <i data-feather="at-sign"></i>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 col-12">
                        <div class="form-group position-relative has-icon-left">
                            <div class="clearfix">
                                <label for="password">Contraseña</label>
                            </div>
                            <div class="position-relative">
                                {{form.password}}
                                <div class="form-control-icon">
                                    <i data-feather="lock"></i>
                                </div>
                            </div>
                        </div>
                    </div>
                </diV>
                <div class="clearfix text-center">
                    <button class="btn btn-lunik">Iniciar sesión</button>
                </div>
                <div class="divider">
                    <div class="divider-text">O</div>
                </div>
                <div class="row">
                    <div class="text-center mb-3">
                        <span>¿Aún no tienes una cuenta?</span>
                    </div>
                    <div class="clearfix text-center mb-4">
                        <a href="{% url 'register:add' %}" class="btn btn-lunik">Registrate aqui</a>
                    </div>
                </div>
				<div class="row">
					<div class="clearfix text-center">
                        <a href="{% url 'shop:shop_list' %}" style="color: brown;">Volver a la tienda</a>
                    </div>
				</div>
            </form>
        </div>
    </div>
</div>
</div>
{% endblock content %}

<!-- Form fields errors -->
{% block docready %}
{% if not_user %}
	$("#id_email").addClass('is-invalid');

	$("#id_password").addClass('is-invalid');

{% endif %}
{% endblock docready %}