{% extends 'base_auth.html' %}

{% block subtitle %}Reestablecer Contraseña{% endblock subtitle %}

{% block content %}
  <p class="p-t-35"></p>
  <!-- START Login Form -->
  <div class="alert alert-info" role="alert">
    <p class="pull-left"><b>Correo enviado</b></p>
    <div class="clearfix"></div>
    <br>
    <p>Hemos enviado un correo con las instrucciones para reestablecer su contraseña.</p>
    <br>
    <p>Si no recibe el correo, asegurese de haber puesto una dirección de correo válida</p>
  </div>
  <div class="row">
    <div class="col-sm-12 m-l-20 no-padding m-t-10">
      <a class="btn btn-primary btn-cons m-t-10" style="color: white!important; background-color: #e44051 !important; border:#e44051" href="{% url 'authorization:login' %}">Iniciar sesión</a>
    </div>
  </div>
  <!-- /login card -->
{% endblock content %}
