
{% autoescape off %}
Usted está recibiendo este correo electrónico porque ha solicitado el restablecimiento de su contraseña para el usuario con correo {{ email }} 
Por favor de click en el siguiente enlace o copielo y peguelo en su navegador, y elija una nueva contraseña:

{% if user.customer.tenant %}
{{ protocol }}://{{ user.customer.tenant.subdomain }}.{{ domain }}{% url "password_reset_confirm" uidb64=uid token=token %}
{% else %}
{{ protocol }}://{{ domain }}{% url "password_reset_confirm" uidb64=uid token=token %}
{% endif %}
{% endautoescape %}