{% extends 'base_auth.html' %}

{% block content %}
  <!-- Password recovery form -->
  {% if validlink %}
    <p class="p-t-35">Reestablecer contraseña</p>
    <!-- START Login Form -->
    <form id="form-login" method="POST" class="p-t-15" role="form" action="" novalidate>
      {% csrf_token %}
      {% for field in form %}
        <div class="form-group form-group-default">
          {{field.label_tag}}
          <input type="password" class="form-control input-sm" id="{{field.auto_id}}" name="{{field.html_name}}">
        </div>
      {% endfor %}
      <div class="row">
        <div class="col-sm-12 no-padding m-t-10">
          <button class="btn btn-primary btn-cons m-t-10" style="color: white!important; background-color: #e44051 !important; border:#e44051" type="submit">Reestablecer</button>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12 no-padding m-t-10">
          <a href="{% url 'authorization:login' %}" class="text-info small">Iniciar sesión</a>
        </div>
      </div>
    </form>
  {% else %}
    <p class="p-t-35"></p>
    <!-- START Login Form -->
    <div class="row">
      <div class="alert alert-warning" role="alert">
        <p class="pull-left"><b>Enlace inválido</b></p>
        <div class="clearfix"></div>
        <br>
        <p>Posiblemente porque ya ha sido utilizado anteriormente o ha expirado.<br>Por favor solicite un nuevo.</p>
        <br>
        <p>Si no recibe el correo, asegurese de haber puesto una dirección de correo válida</p>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-12 no-padding m-t-10">
        <a class="btn btn-primary btn-cons m-t-10" style="color: white!important; background-color: #e44051 !important; border:#e44051" href="{% url 'password_reset' %}">Solicitar nuevo enlace</a>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12 no-padding m-t-10">
        <a href="{% url 'authorization:login' %}" class="text-info small">Iniciar sesión</a>
      </div>
    </div>
  {% endif %}
  <!-- /password recovery form -->
{% endblock content %}

<!-- Form fields errors -->
{% block docready %}
  {% include 'core/snippets/form_validation.html' %}
{% endblock docready %}
