/* Configuraciones Generales  */

:root {
    /* Animate css timing */
    --animate-duration: .5s;
    --animate-delay: .5s;
    --animate-repeat: .5;
}

body{
    overflow: auto !important;
    padding-right: 0px !important;
}

.brand-promotions-ribbon{
    background-color: #EF4368 !important;
    font-size: 14px;
    z-index: 1000;
}
.dropdown-item.active, .dropdown-item:active {
    color: #fff !important;
    text-decoration: none;
    background-color: #EF4368 !important;
}
.counter-product-cart{
    background-color: #EF4368 !important;
}
.button-buy-product{
    background-color: #EF4368 !important;
}
.select-product-cant-buttons{
    background-color: white !important;
    border: 1px solid #ced4da !important;
    color: black !important;
}
.select-product-cant-buttons:hover {
    background-color: #efefef !important;
    transition: .5s;
}

.bground-config{
    background-size: cover !important;
    background-position: 50% 50% !important;
    background-repeat: no-repeat !important;
}
.logo-brand-store{
    width: 60px;
}
.logo-brand-store.md{
    width: 200px;
}
.logo-brand-store-footer{
    max-width: 100px;
}
.promotions-ribbon{
    /* height: 40px; */
    padding: 8px 24px;
}
.promotions-ribbon, .promotions-ribbon *{
    z-index: 60;
}
.principal-menu-container{
    position: fixed;
    width: 100%;
    /* height: 70px; */
    /* top: 40px; */
    -webkit-box-shadow: 20px 8px 15px 5px rgb(0 0 0 / 18%);
    box-shadow: 20px 8px 15px 5px rgb(0 0 0 / 18%);
}
.principal-menu-container, .principal-menu-container *{
    z-index: 60;
}
.principal-menu-container.on{
    transition: .3s;
    top: 0px;
    transition: 0.5s;
}
.principal-menu{
    padding: 8px 42px;
    z-index: 200;
}
.principal-menu-option, .secondary-menu-option{
    margin: 0px 16px;
}
.principal-menu-option i, .secondary-menu-option i{
    font-size: 24px;
    position: absolute;
}
.display-flex-center{
    display:flex;
    align-items: center;
}
.counter-shop-products{
    position: absolute;
    font-size: 10px;
    left: 15px;
}
a {
    color: white;
}
.accordion-button {
    border-bottom: .5px solid rgba(0,0,0,.05);
    background: transparent;
    border-top: .5px solid rgba(0,0,0,.05);
}
.accordion-button:focus {
    border-color: unset;
    box-shadow: unset;
}
.accordion-button:not(.collapsed) {
    border-color: rgb(0 0 0 / 5%);
    background-color: transparent;
}
.mega-menu{
    top: 0px;
    position: fixed;
    width: 100%;
    padding: 24px;
    transition: 1s;
    z-index: 0;
    -webkit-box-shadow: 20px 8px 15px 5px rgb(0 0 0 / 18%);
    box-shadow: 20px 8px 15px 5px rgb(0 0 0 / 18%);
    opacity: 0;
    transition: .5s;
}
.mega-menu.on {
    transition: .5s;
    z-index: 50;
    opacity: 1;
}
.mega-menu.on.resolve-top {
    transition: .5s;
}
h1 a,h2 a,h3 a,h4 a,h5 a,h6 a{
    text-decoration: none;
    font-size: inherit;
}
small{
    display: block;
    margin-bottom: 8px;
}
.list-group.list-group-flush{
    margin-bottom: 16px;
}
.four-buttons{
    padding: 16px 24px;
    font-size: 14px;
    margin-top: 8px;
    margin-bottom: 16px;
    border-radius: 0px !important;
}
.principal-carousel.small .item,
.one-more-carousel.small .item{
    min-height: 500px;
}
.principal-carousel.medium .item,
.one-more-carousel.medium .item{
    min-height: 800px;
}
.principal-carousel.large .item,
.one-more-carousel.large .item{
    min-height: 100vh;
}
.background-filter{
    background: rgb(0 0 0 / 33%);
    position: absolute;
    width: 100%;
    height: 100%;
    display: block;
}
.carousel-content{
    position: relative;
    z-index: 200000;
}
.cart-bar,.mobile-menu,.mobile-user-menu {
    transition: all 0.3s ease;
    position: fixed;
    /* background:white; */
    max-width: 500px;
    width: 100%;
    height: 100%;
    clear: none;
    right: 0;
    padding: 24px;
    margin-right: -1000px;
    z-index: 100000;
}
.mobile-menu *
{
    color: black;
}
.content {
    transition: all 0.5s ease;
    overflow: hidden;
}
.cart-bar.toggled,.mobile-menu.toggled,.mobile-user-menu.toggled{
    margin-right: 0px;
    -webkit-box-shadow: 2px 3px 37px -17px rgba(0,0,0,0.80);
    -moz-box-shadow: 2px 3px 37px -17px rgba(0,0,0,0.80);
    box-shadow: 2px 3px 37px -17px rgba(0,0,0,0.80);
}
.empty-cart{
    min-height: 150px;
    max-height: calc(100% - 225px);
    display: flex;
    align-items: center;
}
.cart-list, .mobile-menu-container{
    overflow: scroll;
    overflow-x: hidden;
    min-height: 100px;
    max-height: calc(100% - 225px);
}
.cart-list::-webkit-scrollbar, .mobile-menu-container::-webkit-scrollbar {
    width: 2px;
    /* remove scrollbar space */
    background: transparent;
}
.cart-list::-webkit-scrollbar-thumb, .mobile-menu-container::-webkit-scrollbar-thumb {
    background: #ccacb6;
}
.cart-list .cart-products, .order-detail-preview{
    max-width: 75px;
}
.section-content{
    padding: 48px 28px;
}
.mobile-menu-container{
    padding: 24px auto;
}
.section-content .categories-images, .section-content .categories-images .category{
    min-height: 800px;
    height: auto;
    max-height: unset;
}
.grow-up{
    min-height: 100vh;
}
.section-content.medium{
    min-height: 500px;
    height: auto;
}
.section-content.medium .categories-images, .section-content.medium .categories-images .category{
    min-height: 500px;
    height: auto;
    max-height: unset;
}
.section-content.small{
    min-height: 300px;
    height: auto;
}
.section-content.small .categories-images, .section-content.small .categories-images .category{
    min-height: 300px;
    height: auto;
    max-height: unset;
}

.brand-logos{
    max-width: 160px;
}
.carrousel-product-item{
    min-height: 350px;
    width: 100%;
}
.like-heart-button{
    font-size: 24px;
}
.article-show:hover .check-article-button{
    visibility: visible;
    transition: .3s;
    opacity: 1;
}
.panel-category-container{
    min-height: 800px;
}
.article-result{
    display: none;
    transition: 1s;
}
.article-result.show{
    display: block;
    transition: 2s;
}
.article-result .carousel{
    position: relative;
}
.check-article-button{
    position: absolute;
    bottom: 20px;
    width: 100%;
    visibility: hidden;
    transition: .3s;
    opacity: 0;
}
.article-result:hover {
    cursor: pointer;
}
.article-result:hover .check-article-button{
    visibility: visible;
    transition: .3s;
    opacity: 1;
}
.icon-service-container{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    text-align: center;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: .5s;
}
.icon-service-container:hover{
    transition: .5s;
    cursor: pointer;
    -webkit-box-shadow: 2px 1px 15px 5px rgba(0,0,0,0.36); 
    box-shadow: 2px 1px 15px 5px rgba(0,0,0,0.36);
}
.icon-service-container i{
    display: block;
    font-size: 32px;
}
footer.section-content{
    background-color: #EF4368;
}
footer *{
    color: white !important;
}
.list-group-item.clean{
    background-color: transparent;
}
.post-footer{
    /* background-color: black; */
    padding: 24px 28px;
    min-height: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.post-footer *{
    color: black !important;
}
.post-footer.sm{
    padding: 8px 100px;
}
.post-footer.always-down{
    position: fixed;
    bottom: 0px;
    z-index: 10;
}
.post-footer.panel{
    position: fixed;
    padding: 8px 28px;
    bottom: 0;
}
.product-description{
    padding: 16px 0px;
}
.products-page{
    margin-top: 55px;
    min-height: 100vh;
}
.panel-page{
    margin-top: 50px;
    /* min-height: 85vh; */
}
.detai-product-page{
    margin-top: 50px;
    min-height: 100vh;
    padding-top: 100px;
}
.give-me-50-breath-page{
    margin-top: 50px;
}
.products-list-filters a{
    color: black;
}
.principal-menu-mobile{
    display: none;
}
.login-form-container{
    padding: 16px;
}
.login,.register
{
    padding: 0px;
}
.register-form-container
{
    padding: 16px;
}
.login-button,.recover-password{
    width: 100%;
    text-align: center;
}
.list-group-item {
    background-color: transparent !important;
}
.product-preview{
    display: none;
    max-width: 100%;
}
.product-preview.show{
    display: block;
}
.product-gallery-carousel{

    max-width: 100%;
}
.product-gallery-carousel{
    overflow: scroll;
    overflow-y: hidden;
    height: auto;
    cursor:pointer
}
.product-gallery-carousel::-webkit-scrollbar, .product-gallery-carousel::-webkit-scrollbar {
    width: 0px;
    height: 5px;
    /* remove scrollbar space */
    background: transparent;
}
.product-gallery-carousel::-webkit-scrollbar-thumb, .product-gallery-carousel::-webkit-scrollbar-thumb {
    background: #EF4368;

}
.product-gallery-carousel ul{
    list-style: none;
    padding-left: 0;
    display: inline-flex;
    margin-bottom: 0;
}
.product-gallery-carousel ul img{
    max-width: 80px;
}

* {box-sizing: border-box;}

.product-principal-photo{
    position: relative;
}
.img-zoom-lens {
    position: absolute;
    border: 1px solid #d4d4d4;
    /*set the size of the lens:*/
    width: 160px;
    height: 160px;
}
.img-zoom-result {
    border: 1px solid #d4d4d4;
    /*set the size of the result div:*/
    width: 200px;
    height: 200px;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 10;
    display: none;
}
.product-principal-photo:hover .img-zoom-result {
    display: unset;
}
.show-banner-about-us{
    height: 700px;
}
.panel-user-banner{
    min-height: 325px;
    max-width: 100%;
    width: 100%;
}
.panel-user-backoffice{
    background-color: white !important;
    min-height: 80vh;
}
.panel-user-backoffice p, .panel-user-backoffice td{
    color: #666666;
    font-weight: 400;
}
.panel-user-backoffice  .tab-content.parent>.tab-pane {
    border: 1px solid #e6e6e6;
    border-radius: 3px;
    min-height: 30vh;
    margin-top: 48px;
}
.panel-user-backoffice .tab-pane-content{
    padding: 48px;
}
.panel-user-backoffice .tab-pane-content.no-padding{
    padding: 0px;
}
.panel-user-backoffice .tab-pane-footer,.panel-user-backoffice .tab-pane-sub-container{
    padding: 16px 48px;
    border-top: 1px solid #e6e6e6;
}
.panel-user-backoffice tr {
    height: 60px;
}
.panel-user-backoffice .nav-link.active {
    color: unset;
    background-color: #e0e0e0;
}
.profile-preview-photo{
    width:115px;
    height: 115px;
    border-radius: 50%;
}
.form-control {
    border-radius: 0px;
}
.shopping-cart-container{
    padding: 16px 24px;
    background-color: white;
}
.shopping-cart-container h1, 
.shopping-cart-container h2, 
.shopping-cart-container h3, 
.shopping-cart-container h4, 
.shopping-cart-container h5, 
.shopping-cart-container h6, 
.shopping-cart-container a, 
.shopping-cart-container p, 
.shopping-cart-container div{
    color: black !important;
}
.shopping-cart-image-product{
    max-width: 95px;
}
.shopping-cart-image-product.sm{
    max-width: 55px;
}
.btn-check:focus+.btn, .btn:focus, input {
    box-shadow: none !important;
}
.like-heart-button{
    color: red;
}
.btn-light {
    background-color: #e6e6e6;
    border-color: #e6e6e6;
}
.btn-light:hover {
    background-color: #d7d7d7;
    border-color: #d7d7d7;
} 
thead tr th {
    font-weight: 400;
}
tbody tr th{
    font-weight: 300;
}
.table>:not(:last-child)>:last-child>* {
    border-bottom-color: transparent;
    padding: 32px 8px;
}
.panel-user-backoffice .my-shopping-cart-table tbody > tr > td div{
    display: flex;
    justify-content: stretch;
    align-items: center;
    min-height: 100px;
}
.panel-user-backoffice .my-shopping-cart-table tbody > tr.sm > td div{
    min-height: 70px;
}
.badge-floating{
    position: absolute;
    top: -5px;
    right: 10px;
}
.panel-user-backoffice .dynamic-padding{
    padding: 38px 38px;
}
.breadcrumb *{
    font-size: 14px;
}

.expand-container{
    max-width: 100% !important;
}

.config-product-grid{
    display: grid;
    grid-gap: 10px;
    grid-auto-rows: minmax(200px, auto);
}

.config-product-grid.one{
    grid-template-columns: repeat(1, 1fr);
}

.config-product-grid.two{
    grid-template-columns: repeat(2, 1fr);
}

.config-product-grid.three{
    grid-template-columns: repeat(3, 1fr);
}

.config-product-grid.four{
    grid-template-columns: repeat(4, 1fr);
}

.config-product-grid.five{
    grid-template-columns: repeat(5, 1fr);
}

.config-product-grid.six{
    grid-template-columns: repeat(6, 1fr);
}

.modal-header {
    border-bottom: 1px solid rgb(222 226 230 / 35%);
}
.modal-footer {
    border-top: 1px solid rgb(222 226 230 / 35%);
}
.form-floating>label {
    color: black;
}
.modal-backdrop.show {
    opacity: .7;
}

.btn-link {
    color: #ffffff;
}
a{
    cursor:pointer;
}

.brand-ribbon-text{
    max-width: 600px; 
    word-wrap: break-word; 
    display: block;
}

.cart-bar-total-container{
    min-height: 125px;
    display: block;
    margin-bottom: 100px;  
}

.control-your-long-honey{
    position: relative;
    height: 100vh;
}

/* For customer backoffice */
body.white .panel-user-backoffice p,
body.white .panel-user-backoffice td,
body.white .panel-user-backoffice div,
body.white .panel-user-backoffice a,
body.white .panel-user-backoffice h1,
body.white .panel-user-backoffice h2,
body.white .panel-user-backoffice h3,
body.white .panel-user-backoffice h4,
body.white .panel-user-backoffice h5,
body.white .panel-user-backoffice h6,
body.black .panel-user-backoffice p,
body.black .panel-user-backoffice td,
body.black .panel-user-backoffice div,
body.black .panel-user-backoffice a,
body.black .panel-user-backoffice h1,
body.black .panel-user-backoffice h2,
body.black .panel-user-backoffice h3,
body.black .panel-user-backoffice h4,
body.black .panel-user-backoffice h5,
body.black .panel-user-backoffice h6,
body.custom .panel-user-backoffice p,
body.custom .panel-user-backoffice td,
body.custom .panel-user-backoffice div,
body.custom .panel-user-backoffice a,
body.custom .panel-user-backoffice h1,
body.custom .panel-user-backoffice h2,
body.custom .panel-user-backoffice h3,
body.custom .panel-user-backoffice h4,
body.custom .panel-user-backoffice h5,
body.custom .panel-user-backoffice h6{
    color: black !important;
}
/* ///// Configuraciones Generales  */

/* RESPONSIVO */
/* Medium devices (tablets, less than 992px) */
@media (max-width: 991.98px) { 
    .brand-ribbon-text{
        max-width: 100%; 
    }
    .carrousel-product-item {
        min-height: 250px;
    }
    .promotions-ribbon {
        height: auto;
    }
    .promotions-ribbon > div > *{
        display: block;
        width: 100%;
        text-align: center;
    }
    .navbar-brand {
        margin-right: 0;
    }
    .my-accont-email{
        display: none;
    }
    .principal-menu-container {
        top: unset;
    }
    .principal-menu{
        display: none !important;
    }
    .principal-menu-mobile{
        display: flex;
        width: 100%;
    }
    .counter-shop-products {
        left: 25px;
    }
    .section-content .categories-images, .section-content .categories-images .category {
        max-height: unset;
    }
    .like-heart-button {
        font-size: 16px;
    }
    h6 {
        font-size: 1rem !important;
    }
    .post-footer p{
        font-size: 12px;
    }
    .carousel-content {
        padding: 30px 16px;
    }
    .cart-element {
        min-height: 90px;
        height: auto;
        max-height: 220px;
    }
    .mobile-menu-container {
        max-height: 430px;
    }
    .section-content .categories-images, .section-content .categories-images .category {
        min-height: 400px;
        padding: 10px;
    }
    .panel-category-products > .btn-group {
        display: block;
    }
    .check-article-button {
        bottom: 0px;
    }
    .products-filter-results{
        font-size: 12px;
    }
    .login{
        padding: 24px;
    }
    .register{
        padding: 8px;
    }
    .img-zoom-lens, .img-zoom-result {
        display: none !important;
    }
    .section-content {
        padding: 48px 8px;
    }
    .panel {
        display: inline-block;
    }
    .panel-container {
        transition: all 0.5s ease;
        overflow: hidden;
        padding: 32px 22px;
        border-left: none;
    }
    .panel-menu {
        padding:0px;
        position: fixed;
        min-height: unset;
        height: unset !important;
        bottom: 0 !important;
        min-width: 100% !important;
        width: 100% !important;
        max-width: 100% !important;
        z-index: 1000 !important;
        display: block;
    }
    .panel-menu > div,.panel-menu > div ul li{
        width: 100% !important;
    }
    .panelToggle{
        display: none;
    }
    .panel-menu .four-buttons{
        width: 100% !important;
        padding: 8px 4px !important;
        border-radius: 0px;
    }
    .panel-menu .four-buttons span{
        display: none !important;
    }
    .panel-menu .list-group-item {
        border: transparent !important;
        padding: 0px;
    }
    .panel-menu .list-group {
        flex-direction: initial;
        justify-content: space-around;
        align-items: center;
    }
    .shopping-cart-image-product{
        width: 50px !important;
    }
    .pagare, .registration-cart {
        padding: 16px 4px;
    }
    .shopping-cart-container {
        padding: 16px 8px;
    }
    .order-detail-preview{
        width: 80px !important;
    }
    .panel-user-backoffice .dynamic-padding {
        padding: 28px 8px;
    }
    .panel-user-backoffice .tab-pane-footer, .panel-user-backoffice .tab-pane-sub-container {
        padding: 16px 16px;
    }
    .btn{
        font-size: 13px;
    }
    .btn-group button{
            padding: 16px 24px;
            font-size: 12px;
            margin-top: 2px;
            margin-bottom: 2px;
    }
    .panel-category-container{
        min-height: 600px;
    }

    .config-product-grid{
        grid-template-columns: repeat(3, 1fr) !important;
    }
    
}
/* Small devices (landscape phones, less than 768px) */
@media (max-width: 767.98px) { 
    .brand-ribbon-text{
        max-width: 100%; 
    }
    .carrousel-product-item {
        min-height: 170px;
    }
    .config-product-grid{
        grid-template-columns: repeat(2, 1fr) !important;
    }
    .four-buttons {
        padding: 10px 18px;
        font-size: 12px;
        margin-bottom: 6px;
    }
    .carousel-content {
        padding: 80px 16px;
    }
}

