{% extends 'base_shop.html' %}


{% load humanize %}
{% block title %}{{store_instance.name}}{% endblock title %}
{% block subtitle %} Editar perfil  {% endblock subtitle %}

{% block menu %}
{% include 'shop/includes/partial_menu.html' %}
{% endblock menu %}
{% block cart %}
{% include 'shop/includes/partial_cart_detail.html' %}
{% endblock cart %}

{% block content %}
	<!-- content page -->
	<section class="bgwhite p-t-66 p-b-60" style="margin-top: 100px; margin-bottom: 50px;">
		<div class="container">
			<div class="row">
				<div class="col-md-12 p-b-30">
					<div class="p-r-20 p-r-0-lg">
                        <div class="item d-flex justify-content-between align-items-center flex-wrap">
                            <h2 class="m-text26 p-b-0">
                                EDITAR PERFIL
                            </h2>
                            <a  href="{% url 'dashboard:profile' %}" class="flex-c-m size2 bg1 bo-rad-23 hov1 m-text3 trans-0-4 w-25 mt-0 buttonMovil mt-0" style="background-color: {{store_instance.store_meta.header_color}};">
								MI PERFIL
							</a>
                        </div>
					   
					</div>
				</div>
				<div class="col-md-12 p-b-30">
                    <form  autocomplete="off" rol="form" method='POST' id="form-info" class="row g-0 js-form-info">
                        {% csrf_token %}
                        <div class="form-floating mb-3 col-12 col-md-4">

                            {{form.first_name}}
            
                            <label for="{{form.first_name.auto_id}}">{{form.first_name.label}}</label>
            
                        </div>
                        <div class="form-floating mb-3 col-12 col-md-4">

                            {{form.last_name}}
            
                            <label for="{{form.last_name.auto_id}}">{{form.last_name.label}}</label>
            
                        </div>
                        <div class="form-floating mb-3 col-12 col-md-4">

                            {{form.email}}
            
                            <label for="{{form.email.auto_id}}">{{form.email.label}}</label>
            
                        </div>
                        <div class="form-floating mb-3 col-12 col-md-4">

                            {{form.phone}}
            
                            <label for="{{form.phone.auto_id}}">{{form.phone.label}}</label>
            
                        </div>
                        <div class="form-floating mb-3 col-12 col-md-4">

                            {{form.birthday}}
            
                            <label for="{{form.birthday.auto_id}}">{{form.birthday.label}}</label>
            
                        </div>
                        <div class="form-floating mb-3 col-12 col-md-4">

                            {{form.gender}}
            
                            <label for="{{form.gender.auto_id}}">{{form.gender.label}}</label>
            
                        </div>
						<div class="w-size50 align-items-center">
                            <button type="submit" class="flex-c-m size2 bg1 bo-rad-23 hov1 m-text3 four-buttons trans-0-4 " >
                                GUARDAR
                            </button>
                        </div>
					</form>
				</div>
			</div>
		</div>
	</section>
{% endblock content %}