{% extends 'base.html' %}

{% load thumbnail %}

{% load humanize %}

{% block subtitle %}Cupones{% endblock subtitle %}

{% block header %}Cupones{% endblock header %}

{% block subheader %}Lista de Cupones{% endblock subheader %}


{% block styles %}
{% endblock styles %}
{% block js %}
{% endblock js %}

{% block content %}
<div class="page-title">
  <div class="row">
    <div class="col-12 col-md-6 order-md-1 order-last">
      <h3>Cupones</h3>
      <p class="text-subtitle text-muted">Listado de Cupones</p>
    </div>
    <div class="col-12 col-md-6 order-md-2 order-first">
      <nav aria-label="breadcrumb" class='breadcrumb-header'>
        <ol class="breadcrumb">
          <li class="breadcrumb-item active"><a style="color: #914c54;">Cupones</a></li>
          <!-- <li class="breadcrumb-item active" aria-current="page">Menu</li> -->
        </ol>
      </nav>
      <a href="{% url 'products:add_product' %}" style="float: right;" class="btn btn-primary me-1 mb-1">Agregar <i data-feather="plus"></i></a>
    </div>
  </div>
</div>
<section class="section">
  {% if coupons_list %}
  <div class="card-header">
    
  </div>
  <div class="card">
    <div class="card-body">
      <table class='table table-striped cmodal' id="dataTable">
        <thead>
          <tr>
            <th> # </th>
            <th> Creado el </th>
            <th> Expira el </th>
            <th> Codigo </th>
            <th> Descuento </th>
            <th> Usos / Max. Usos</th>
            <th> Activo </th>
            <th> Acciones </th>
          </tr>
        </thead>
        <tbody>
          {% for coupon in coupons_list %}
          <tr>
            <td>{{forloop.counter}}</td>
            <td>{{coupon.created|date:"d F Y"}}</td>
            <td>{{coupon.date_expiration|date:"d F Y"}}</td>
            <td>{{coupon.code}}</td>
            <td>{% if coupon.discount_types == 'A'%}${{coupon.discount|intcomma}}{% elif coupon.discount_types == 'P'%}{{coupon.discount}} %{% endif %}</td>
            <td>{{coupon.uses}} / {{coupon.no_uses}}</td>
            <td>
              {% if coupon.available %}
              <span class="badge bg-success"><i data-feather="check-circle"></i></span>
              {% else %}
              <span class="badge bg-danger"><i data-feather="x-circle"></i></span>
              {% endif %}
            </td>
            <td>
              <a href="{% url 'products:coupons_edit' coupon.pk %}" class="badge bg-info" data-toggle="tooltip" data-placement="top" title="Editar"><i data-feather="edit"></i></a>
              {% if not coupon.available %}
              <a href="#" class="badge bg-success" data-toggle="tooltip" data-placement="top" title="Activar"><i data-feather="power"></i></a>
              <!-- <a data-url ="{% url 'products:delete_product' product.slug%}" class="badge bg-danger show-modal" data-toggle="tooltip" data-placement="top" title="Eliminar"><i data-feather="trash"></i></a> -->

              {% endif %}
            </td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  </div>
  {% else %}
  <!-- Empty list users -->
  <div class="row">
    <div class="col-12 col-md-5 order-m-1 order-last" style="align-self: center; text-align: center;">
      <h2 style="font-size:xxx-large;">¡Cupones para todos!</h2>
      <p class="text-subtitle text-muted" style="font-size: x-large;">Agrega aquí tus cupones para ofrecerselos a tus clientes en sus próximas compras.</p>
      <a href="{% url 'products:coupons_add' %}" class="btn btn-lunik"><i class="fas fa-plus"></i> Agregar</a>
    </div>
    <div class="col-md-5 order-m-1 order-last">
      <img src="{{STATIC_URL}}assets/images/ilustrations/coupons.png" style="position: relative; max-width: 650px;"
        alt="list-users">
    </div>
  </div>
  <!-- END empty list users -->
  {% endif %}
</section>
{% endblock content %}