{% extends 'base.html' %}

{% load thumbnail %}

{% block subtitle %} Plantillas {% endblock subtitle %}

{% block header %} Plantillas {% endblock header %}

{% block subheader %} Componentes {% endblock subheader %}

{% block customcss %}
<link href="{{STATIC_URL}}assets/css/plugins/jQueryUI/jquery-ui.css" rel="stylesheet">
<style>
    .iframe-container {
        overflow: hidden;
        padding-top: 15%;
        /* 16:9*/
        position: relative;
    }

    .iframe-container iframe {
        border: 0;
        height: 100%;
        left: 0;
        position: absolute;
        top: 0;
        width: 100%;
    }
</style>
{% endblock customcss %}

{% block content %}
<div class="resizable-panels">
    {% for component in components_list %}
    <div class="col-md-6">
        <div class="ibox">
            <div class="ibox-title">
                <h5>
                    {{component.name}}
                </h5>

                <div class="ibox-tools">
                    <a href="{% url 'config:component_edit' component.pk %}" class="label label-primary">Editar</a>
                </div>
            </div>
            <div class="ibox-content">
                <iframe id="frame"  src="{% url 'config:component' component.pk %}" frameborder="0"
                    allowfullscreen></iframe>
            </div>
        </div>
    </div>
    {% endfor %}
</div>


{% endblock content %}

{% block customjs %}
    <!-- jquery UI -->
    <script src="{{STATIC_URL}}assets/js/plugins/jquery-ui/jquery-ui.min.js"></script>

    <!-- Touch Punch - Touch Event Support for jQuery UI -->
    <script src="{{STATIC_URL}}assets/js/plugins/touchpunch/jquery.ui.touch-punch.min.js"></script>
{% endblock customjs %}

{% block docready %}
$(".ibox").resizable({
    helper: "ui-resizable-helper",
    grid: 20
});
{% include 'core/snippets/form_validation.html' with form=logo_form %}
{% include 'core/snippets/messages_error.html' with form=logo_form %}
{% endblock %}