{% extends 'base.html' %}

{% load thumbnail %}

{% load humanize %}

{% block subtitle %}Productos{% endblock subtitle %}

{% block header %}Productos{% endblock header %}

{% block subheader %}Lista de productos{% endblock subheader %}


{% block styles %}
<style>
  .well.sk-loading {
      position: relative;
  }
  .well.sk-loading:after {
      content: '';
      background-color: rgba(255, 255, 255, 0.7);
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
  }
  </style>


{% endblock styles %}
{% block js %}
<script src="{{STATIC_URL}}js/products.js" type="text/javascript"></script>
{% endblock js %}

{% block content %}
<div class="page-title">
  <div class="row">
    <div class="col-12 col-md-6 order-md-1 order-last">
      <h3>Productos</h3>
      <p class="text-subtitle text-muted">Listado de productos</p>
    </div>
    <div class="col-12 col-md-6 order-md-2 order-first">
      <nav aria-label="breadcrumb" class='breadcrumb-header'>
        <ol class="breadcrumb">
          <li class="breadcrumb-item active"><a style="color: #914c54;">Productos</a></li>
          <!-- <li class="breadcrumb-item active" aria-current="page">Menu</li> -->
        </ol>
      </nav>
      <a href="{% url 'products:add_product' %}" style="float: right;" class="btn btn-primary me-1 mb-1">Agregar <i
          data-feather="plus"></i></a>
    </div>
  </div>
</div>
<section class="section">
  <div class="row mb-4">
    <div class="col-md-12">
      <div class="card">
        <div class="card-header d-flex justify-content-between align-items-center">
          <h4 class="card-title">Productos</h4>
          <div class="d-flex ">
            <ul class="list-unstyled mb-0" style="padding: 7px;">
              <li class="d-inline-block me-2 mb-1">
                <div class='form-check'>
                  <div class="custom-control custom-checkbox">
                    <input type="checkbox" class="form-check-input form-check-primary filter-checkbox" name="fooby[1][]"
                      id="pending" data-url="{% url 'orders:orders_list' %}">
                    <label class="form-check-label" for="pending"> <i data-feather="check-circle"
                        style="color:#914c54"></i>Disponible </label>
                  </div>
                </div>
              </li>
              <li class="d-inline-block me-2 mb-1">
                <div class='form-check'>
                  <div class="custom-control custom-checkbox">
                    <input type="checkbox" class="form-check-input form-check-primary filter-checkbox" name="fooby[1][]"
                      id="process">
                    <label class="form-check-label" for="process"> <i data-feather="x-circle"
                        style="color:#914c54"></i>No disponible </label>
                  </div>
                </div>
              </li>

            </ul>
            <form action="{% url 'products:products_list' %}" method="GET" class="js-search-form">
              <div class="col-12 mb-1">
                <div class="input-group mb-3">
                  <span class="input-group-text" id="basic-addon1"><i data-feather="search" data-toggle="tooltip"
                      data-placement="top" title="Buscar por nombre, marca o modelo"></i></span>
                  {{form_search.query}}

                  <button class="btn btn-outline-primary" type="submit" id="button-addon2">Buscar</button>
                </div>
              </div>
            </form>
            <!-- <i data-feather="download"></i> -->
          </div>
        </div>
        <div id="box-content" class="card-body card-products pb-0 well">
          {% include 'products/includes/partial_products_list.html' %}
          
        </div>
      </div>
    </div>
  </div>
</section>
{% endblock content %}

