<form id="form_sendmail" method="post" action="{{url_post}}" class="js-sendmail-form">
  {% csrf_token %}
  <div class="modal-header">
    <h6 class="modal-title">Confirmar</h6>
    <button type="button" class="close" data-dismiss="modal">&times;</button>
  </div>
  <div class="modal-body">
    <h5>¿ Está seguro que desea enviar el correo de activación ?</h5>
    <hr>
  </div>
  <div class="modal-footer">
    <button class="btn btn-link" data-dismiss="modal"><i class="icon-cross2 font-size-base mr-1"></i> Cancelar</button>
    <button class="btn bg-primary" type="submit">Enviar <i class="icon-paperplane ml-2"></i></button>
  </div>
</form>
