{% extends 'base_shop.html' %}

{% load humanize %}
{% load thumbnail %}
{% block title %}{{store_instance.name}}{% endblock title %}

{% block subtitle %} {% if address_obj %}Editar{% else %}Agregar{% endif %} dirección {% endblock subtitle %}
{% block cart %}
{% include 'shop/includes/partial_cart_detail.html' %}
{% endblock cart %}
{% block menu %}
{% include 'shop/includes/partial_menu.html' %}
{% endblock menu %}
{% block cart_mobile %}
{% include 'shop/includes/partial_cart_mobile_detail.html' %}
{% endblock cart_mobile %}

{% block customcss %}
<link href="{{STATIC_URL}}assets/css/plugins/switchery/switchery.css" rel="stylesheet">
{% endblock customcss %}

{% block content %}
<section class="bgwhite p-t-66 p-b-60">
    <div class="container">
        <div class="row">
            <div class="col-md-12 p-b-30">
                <div class="p-r-20 p-r-0-lg">
                    <div class="item d-flex justify-content-between align-items-center flex-wrap">
                        <h2 class="m-text26 p-b-0">
                            {% if address_obj %}EDITAR{% else %}AGREGAR{% endif %} DIRECCIÓN
                        </h2>
                        {% if form.errors %}
                        <h2 class="m-text26 p-b-0 text-danger">
                            HAY ERRORRES, FAVOR DE VERIFICARLOS
                        </h2>
                        {% endif %}
                        <a  href="{% url 'dashboard:address' %}" class="flex-c-m size2 bg1 bo-rad-23 hov1 m-text3 trans-0-4 w-25 buttonMovil">
                            MIS DIRECCIÓNES
                        </a>
                    </div>
                   
                </div>
            </div>
            <div class="col-md-12 p-b-30">
                <form  autocomplete="off" rol="form" method='POST' id="form-info" class="row g-0 js-form-info">

                    {% csrf_token %}
                    <div class="form-floating mb-3 col-12 col-md-4">

                        {{form.name}}
        
                        <label for="{{form.name.auto_id}}">{{form.name.label}}</label>
        
                    </div>
                    <div class="form-floating mb-3 col-12 col-md-6">

                        {{form.address}}
        
                        <label for="{{form.address.auto_id}}">{{form.address.label}}</label>
        
                    </div>
                    <div class="form-floating mb-3 col-12 col-md-1">

                        {{form.num_ext}}
        
                        <label for="{{form.num_ext.auto_id}}">{{form.num_ext.label}}</label>
        
                    </div>
                    <div class="form-floating mb-3 col-12 col-md-1">

                        {{form.num_int}}
        
                        <label for="{{form.num_int.auto_id}}">{{form.num_int.label}}</label>
        
                    </div>
                    <div class="form-floating mb-3 col-12 col-md-1">

                        {{form.zip_code}}
        
                        <label for="{{form.zip_code.auto_id}}">{{form.zip_code.label}}</label>
        
                    </div>
                    <div class="form-floating mb-3 col-12 col-md-3">

                        {{form.suburb}}
        
                        <label for="{{form.suburb.auto_id}}">{{form.suburb.label}}</label>
        
                    </div>
                    <div class="form-floating mb-3 col-12 col-md-3">

                        {{form.city}}
        
                        <label for="{{form.city.auto_id}}">{{form.city.label}}</label>
        
                    </div>
                    <div class="form-floating mb-3 col-12 col-md-3">

                        {{form.state}}
        
                        <label for="{{form.state.auto_id}}">{{form.state.label}}</label>
        
                    </div>
                    <div class="mb-3 col-12 col-md-2">
                        {{form.default}}
        
                        <label for="{{form.default.auto_id}}">{{form.default.label}}</label>

                    </div>
                    
                    <div class="w-size50 align-items-center">
                        <button type="submit" class="flex-c-m size2 bg1 bo-rad-23 hov1 m-text3 four-buttons trans-0-4 " >
                            {% if address_obj %}GUARDAR{% else %}AÑADIR{% endif %} DIRECCIÓN
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>
{% endblock content %}

{% block customjs %}
<script src="{{STATIC_URL}}assets/js/plugins/switchery/switchery.js"></script>
{% endblock customjs %}

{% block docready %}
{% if address_obj %}
var zipcode = $('#id_zip_code').val();

$.ajax({
    url: '{% url 'dashboard:zipcode' %}',
    data: {'zipcode':zipcode},
    type: 'GET',
    dataType: 'json',
    success: function (data) {
        if(data){
            $('#id_city').val(data.community);
            $('#id_state').val(data.state);
            $.each(data.suburbs, function (i, item) {
                $('#id_suburb').append($('<option>', { 
                    value: item,
                    text : item 
                }));
            });
            $('#id_suburb').val('{{address_obj.suburb}}')

        }
    }
  });

{% endif %}

$('#id_zip_code').blur(function() {
    var zipcode = $('#id_zip_code').val();
    console.log(zipcode)
    $.ajax({
        url: '{% url 'dashboard:zipcode' %}',
        data: {'zipcode':zipcode},
        type: 'GET',
        dataType: 'json',
        success: function (data) {
            if(data){
                console.log(data)
                $('#id_city').val(data.community);
                $('#id_state').val(data.state);
                if( $('#id_suburb').has('option').length == 0 ) {
                    $.each(data.suburbs, function (i, item) {
                        $('#id_suburb').append($('<option>', { 
                            value: item,
                            text : item 
                        }));
                    });
                }
            }
        }
      });
  });

{% for field in form %}
  {% for error in field.errors %}
    $("#{{field.auto_id}}").parent().addClass('text-danger');
    $("#{{field.auto_id}}").addClass('text-danger');
    $("#{{field.auto_id}}").after("<span class='text-danger'>{{error}}</span>");
  {% endfor %}
{% endfor %}

var elem = document.querySelector('.js-switch');
if (elem){
var switchery = new Switchery(elem, { color: '#1AB394' });
}
{% endblock docready %}