
{% load humanize %}
{% load thumbnail %}
{% load tags %}
<table class="table my-shopping-cart-table">

    <tbody>
        {% if cart.get_quantity_products > 0 %}
        {% for item in cart %}
        {% for key in item.variants.keys %}
        <tr class="sm">

            <th>

                <div class="item">
                {% with image=item.product.products_gallery.all.first.image %}
                      {% thumbnail image '100x100' crop='center' as img %}

                    <img src="{{img.url}}" class="d-block mx-auto shopping-cart-image-product sm" alt="...">
                    {% endthumbnail %}
                  {% endwith %}

                    <span class="badge rounded-pill counter-product-cart badge-floating">{{key|get_quantity_cart:item}}</span>

                </div>

            </th>

            <td>

                <div class="t-center">

                    {{item.product.name}} {{item.product.model}} <br>
                    <small>Tipo: {{key}}</small><br>
                    {% if item.product.subcategory == 'C' or item.product.subcategory == 'S' %}
                        <small> Nombre personalizado: "{{key|get_custom_name:item}}" </small>
                    {% endif %}
                    <small>{% if key|is_gift:item %} Envoltura de regalo ($20.00) {% endif %} </small>

                </div>

            </td>

            <td>

                <div>

                    <p class="text-end w-100">

                        {% if cart.is_coupon_apply and item.product|coupon:cart.is_coupon_apply and not cart.is_coupon_apply.apply_all  %}
                            <p class="fw-bold">
                                {% if item.product|coupon:cart.is_coupon_apply and not cart.is_coupon_apply.apply_all %}
                                    <i class="bi bi-bullseye"></i>
                                {% endif %}
                                ${{key|get_total_cart:item|intcomma}} 
                            </p>
                        {% else %}
                            $ {{key|get_total_cart:item|intcomma}} 
                        {% endif %}

                    </p>

                </div>

            </td>

        </tr>
        {% endfor %}
        {% endfor %}
        {% endif %}


    </tbody>



</table>
<div class="flex-w flex-sb-m p-b-12">
    <span class="s-text18 w-size19 w-full-sm">
        Subtotal:
    </span>

    <span class="m-text21 w-size20 w-full-sm" style="text-align: end;">
        ${{cart.get_subtotal_products|intcomma}}
    </span>
</div>
{% if cart.is_coupon_apply %}
<div class="flex-w flex-sb-m p-b-12">
    <span class="s-text18 w-size19 w-full-sm">
        Cupon:
    </span>

    <span class="m-text21 w-size20 w-full-sm" style="text-align: end;">
        $39.00
    </span>
</div>
{% endif %}
<div class="flex-w flex-sb-m p-b-12">
    <span class="s-text18 w-size19 w-full-sm">
        Envio:
    </span>

    <span class="m-text21 w-size20 w-full-sm" style="text-align: end;">
        {% if step == 'informacion' %}
            Calculado en el siguiente paso
        {% else %}
            {% if cart.get_shipping_method %}
                {% if cart.get_shipping_cost > 0 %}
                    ${{cart.get_shipping_cost|intcomma}}
                {% else %}
                    ¡Gratis! <i class="bi bi-lightning" style="color:{{store_instance.store_meta.header_color}}"></i>
                {% endif %}
            {% else %}
                Selecciona un método de envío <i class="bi bi-lightning" style="color: var(--main-bg-color-branding)"></i>
            {% endif %}
        {% endif %}
    </span>
</div>

<hr class="m-t-0 m-b-2">

<div class="flex-w flex-sb-m p-b-12">
    <span class="s-text18 w-size19 w-full-sm">
        Total:
    </span>

    <span class="m-text21 w-size20 w-full-sm m-t-20" style="text-align: end;">
        {% if cart.get_shipping_method and not step == 'informacion' %}
        <h5>$ {{cart.get_total_products|intcomma}}</h5>

        {% else %}
        <div class="loader text-end">
            <span class="bar"></span>
            <span class="bar"></span>
            <span class="bar"></span>
        </div>
        {% endif %}
    </span>
</div>

