{% if step == 'informacion' %}
<div>

    <a  class="text-primary" onclick="sendPage('{% url 'shop:cart_detail' %}');">Ir al carrito</a>

</div>

<div>

    <button class="four-buttons" onclick="sendFormData();">Continuar al envio</button>

</div>
{% elif step == 'envio' %}
<div>

    <a  class="text-primary" data-url="{% url 'shop:cart_checkout' %}?step=informacion" onclick="goStep($(this));">Regresar</a>

</div>

<div>
    {% if cart.get_shipping_method %}
    <button class="four-buttons" data-url="{% url 'shop:cart_checkout' %}?step=pago&method={{cart.get_shipping_method}}" onclick="goStep($(this));">Continuar al pago</button>
    {% endif %}
</div>
{% elif step == 'pago' %}
<div>

    <a  class="text-primary" data-url="{% url 'shop:cart_checkout' %}?step=envio&method={{cart.get_shipping_method}}" onclick="goStep($(this));">Regresar</a>

</div>
{% endif %}