{% if step == 'informacion' %}
<div class="p-b-30">

    <button class="btn-light" onclick="sendPage('{% url 'shop:cart_detail' %}');"><i class="fa fa-arrow-left" aria-hidden="true"></i> Ir al carrito</button>

</div>

<div class="m-t-10 p-b-30">

    <button class="four-buttons" onclick="sendFormData();">Continuar al envio <i class="fa fa-truck" aria-hidden="true"></i></button>

</div>
{% elif step == 'envio' %}
<div class="p-b-30">

    <button class="btn-light" data-url="{% url 'shop:cart_checkout' %}?step=informacion" onclick="goStep($(this));"><i class="fa fa-arrow-left" aria-hidden="true"></i> Regresar</a>

</div>

<div class="m-t-10 p-b-30">
    {% if cart.get_shipping_method %}
    <button class="four-buttons" data-url="{% url 'shop:cart_checkout' %}?step=pago&method={{cart.get_shipping_method}}" onclick="goStep($(this));">Continuar al pago <i class="fa fa-dollar" aria-hidden="true"></i></button>
    {% endif %}
</div>
{% elif step == 'pago' %}
<div class="p-b-30">

    <button class="btn-light" data-url="{% url 'shop:cart_checkout' %}?step=envio&method={{cart.get_shipping_method}}" onclick="goStep($(this));"><i class="fa fa-arrow-left" aria-hidden="true"></i> Regresar</a>

</div>
{% endif %}