{% load humanize %}
{% load thumbnail %}
{% load tags %}

<div class="wrap-table-shopping-cart bgwhite">
    <table class="table-shopping-cart">
        <tr class="table-head">
            <th class="column-1 t-center"></th>
            <th class="column-2 t-center">Producto</th>
            <th class="column-2 t-center">Precio</th>
            <th class="column-4 t-center">Cantidad</th>
            <th class="column-4 t-center">Total</th>
            <th class="column-5 t-center">Acciones</th>
        </tr>
        {% if cart.get_quantity_products > 0 %}
        {% for item in cart %}
        {% for key in item.variants.keys %}
        <tr class="table-row">
            <td class="column-1 t-center">
                <div class="cart-img-product b-rad-4 o-f-hidden">
                    {% with image=item.product.products_gallery.all.first.image %}
                    {% thumbnail image '100x100' crop='center' as img %}
                    <img src="{{img.url}}" alt="IMG-PRODUCT">
                    {% endthumbnail %}
                    {% endwith %}
                </div>
            </td>
            <td class="column-2 t-center">
                <a href="{% url 'shop:product_detail' item.product.slug %}">{{item.product}}</a>
                <br>
                <small>Tipo: {{key}}</small><br>
                {% if item.product.subcategory == 'C' or item.product.subcategory == 'S' %}
                    <small> Nombre personalizado: "{{key|get_custom_name:item}}" </small>
                {% endif %}
            </td>
            <td class="column-2 t-center">${{key|get_charge_price_cart:item|intcomma}} <br>
                <small>{% if key|is_gift:item %} Envoltura regalo + $20.00 {% endif %}</small>
            </td>
            <td class="column-5 t-center">
                {% if item.product.subcategory == 'C' or item.product.subcategory == 'S' %}
                <h4>{{key|get_quantity_cart:item}}</h4>
                {% else %}
                <div class="flex-w bo5 of-hidden w-size17">
                    <button class="btn-num-product-down color1 flex-c-m size7 bg8 eff2">
                        <i class="fs-12 fa fa-minus" aria-hidden="true"></i>
                    </button>

                    <input class="size8 m-text18 t-center num-product" type="number" name="num-product1" value="1">

                    <button class="btn-num-product-up color1 flex-c-m size7 bg8 eff2">
                        <i class="fs-12 fa fa-plus" aria-hidden="true"></i>
                    </button>

                </div>
                {% endif %}
                <!-- <button class="btn-num-product-up color1 flex-c-m size7 bg8 eff2" type="button" {% if key|get_custom_price_cart:item > 0 %}readonly=True{% else %}{% endif %}
                    data-url="{% if request.is_secure %}https://{% else %}http://{% endif %}{{request.get_host}}{% url 'shop_cart:cart_update' %}"
                    data-product="{{item.product.pk}}"
                    data-size="{{key|get_sizes_cart:item}}">
                        <i class="fa fa-refresh"></i>
                </button> -->
            </td>
            <td class="column-4 t-center">
                            {% if cart.is_coupon_apply and item.product|coupon:cart.is_coupon_apply and not cart.is_coupon_apply.apply_all  %}
                                <p class="fw-bold">
                                    {% if item.product|coupon:cart.is_coupon_apply and not cart.is_coupon_apply.apply_all %}
                                        <i class="bi bi-bullseye"></i>
                                    {% endif %}
                                    ${{key|get_total_cart:item|intcomma}} 
                                </p>
                                </br>
                                <p class="fw-light text-decoration-line-through">
                                    ${{key|get_price_after_discount:item|intcomma}}
                                </p>
                            {% else %}
                                $ {{key|get_total_cart:item|intcomma}} 
                            {% endif %}

            </td>
            <td class="column-5 t-center">
                <button class="btn-num-product-down color1 flex-c-m size7 bg8 eff2 remove-cart-item" 
                                        data-url="{% if request.is_secure %}https://{% else %}http://{% endif %}{{request.get_host}}{% url 'shop:cart_remove' %}"
                                        data-product="{{item.product.pk}}" 
                                        data-size="{{key|get_sizes_cart:item}}"
                                        data-checkout="1" style="text-align: center;">
                                    <i class="fa fa-trash" style="font-size: 18px;"></i>
                                </button>
            </td>
        </tr>
        {% endfor %}
        {% endfor %}
        {% endif %}

    </table>
</div>
{% if cart.is_coupon_apply and not cart.is_coupon_apply.apply_all %}
<div class="row justify-content-end" style="text-align: -webkit-right;">
    <div class="col-4">
        <i class="bi bi-bullseye"></i>
        <span class="s-text5 w-size19 w-full-sm">
            Producto aplicable al cupón
        </span>
    </div> 
</div> 
{% endif %}

