{% extends 'base_shop.html' %}
  {% load humanize %}
  {% load thumbnail %}

  {% block title %}Karla Gálvez{% endblock title %}

  {% block subtitle %} Gracias por su compra {% endblock subtitle %}

  {% block showheader %}style="display:none;"{% endblock showheader %}
  {% block showfooter %}style="display:none;"{% endblock showfooter %}

  {% block headercheckout %}
  <header class="header1">
      <!-- Header desktop -->
      <div class="container-menu-header">
          <div class="topbar">
              <div class="topbar-social">
                  <a href="#" class="topbar-social-item fa fa-facebook"></a>
                  <a href="#" class="topbar-social-item fa fa-instagram"></a>
              </div>
  
              <span class="topbar-child1">
                  ¡ Gracias por su compra ! 🥰
              </span>
  
              <div class="topbar-child2">
                  <span class="topbar-email">
                      
                  </span>
  
              </div>
          </div>
      </div>
  </header>
  {% endblock headercheckout %}

{% block content %}
<section class="bg-title-page p-t-30 p-b-50 flex-col-c-m" style="text-align: center;">
  <h1 style="color: #da9fa6 !important">
    ¡ Muchas gracias por su compra !
  </h1>
</section>
<!-- content page -->
<section id="section-payment" class="bgwhite p-b-38 " style="margin: 30px 0 100px 0;">
  {% csrf_token %}
</section>
{% endblock content %}
{% block customjs %}
<!-- Toastr -->
<script src="{{STATIC_URL}}assets/js/plugins/toastr/toastr.min.js"></script>

<script src="{{STATIC_URL}}js/checkout.js"></script>

{% endblock customjs %}
{% block docready %}
$(".aqui").on("click", ".js-send-shop", function () {
  var btn = $(this);
  $.ajax({
    url: btn.attr('data-url'),
    type: 'get',
    dataType: 'json',
    success: function (data) {
      if (data.form_is_valid) {
          toastr.warning("Envio del correo correcto");
      }
  }
  });
});
{% endblock docready %}
