{% extends 'base_shop.html' %}

{% load humanize %}
{% load thumbnail %}
{% block title %}Karla Gálvez{% endblock title %}

{% block subtitle %} Productos {% endblock subtitle %}

{% block content %}
<!-- Content page -->
<section class="bgwhite p-t-55 p-b-65 p-r-25 p-l-25">
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-4 col-md-2 col-lg-2 p-b-50">
                <div class="leftbar p-r-20 p-r-0-sm">
                    <!--  -->
                    <h4 class="m-text14 p-b-7">
                        Categorias
                    </h4>

                    <ul class="p-b-54">

                        <li class="p-t-4">
                            <a href="{% url 'shop:products_list' 'agendas' %}" class="s-text13">
                                Agendas
                            </a>
                        </li>

                        <li class="p-t-4">
                            <a href="{% url 'shop:products_list' 'planners' %}" class="s-text13">
                                Planners
                            </a>
                        </li>

                        <li class="p-t-4">
                            <a href="{% url 'shop:products_list' 'libretas' %}" class="s-text13">
                                Libretas
                            </a>
                        </li>

                        <li class="p-t-4">
                            <a href="{% url 'shop:products_list' 'organizadores' %}" class="s-text13">
                                Organizadores
                            </a>
                        </li>
                        <li class="p-t-4">
                            <a href="{% url 'shop:products_list' 'recetarios' %}" class="s-text13">
                                Recetarios
                            </a>
                        </li>
                    </ul>

                    <h4 class="m-text14 p-b-32">
                        Filtros
                    </h4>

                    <ul class="p-b-54">
                        <li class="p-t-4">
                            <input class="" type="checkbox" value="" id="shipping_free">

                            <label class="" for="shipping_free">

                                Envío gratis

                            </label>
                        </li>
                        <li class="p-t-4">
                            <input type="checkbox" value="" id="is_sale">

                            <label for="is_sale">

                                En oferta

                            </label>
                        </li>
                    </ul>

                </div>
            </div>
            {% if products_list %}
            <div class="col-sm-8 col-md-10 col-lg-10 p-b-50">
                <!--  -->
                <div class="flex-sb-m flex-w p-b-35">
                    <!-- <div class="flex-w">
                        <div class="search-product pos-relative bo4 of-hidden">
                            <input class="s-text7 size6 p-l-23 p-r-50" type="text" style="width: 500px !important;" name="search-product" placeholder="Search Products...">
    
                            <button class="flex-c-m size5 ab-r-m color2 color0-hov trans-0-4">
                                <i class="fs-12 fa fa-search" aria-hidden="true"></i>
                            </button>
                        </div>
                    </div> -->

                    <span class="s-text8 p-t-5 p-b-5">
                        Mostrando página {{products_list.number }} de {{products_list.paginator.num_pages}} de
                        {{products_list.paginator.count}} productos
                    </span>
                </div>

                <!-- Product -->
                <div class="row">
                    {% for item in products_list %}
                    <div class="col-sm-12 col-md-4 col-lg-3 p-b-50">
                        <!-- Block2 -->
                        <div class="block2">
                            <div class="block2-img wrap-pic-w of-hidden pos-relative {%if item.products_properties.is_sale%}block2-labelsale{% endif %}">
                                <img src="{{item.products_gallery.all.first.image.url}}" alt="IMG-PRODUCT">
    
                                <div class="block2-overlay trans-0-4">
                                    <!-- <a href="#" class="block2-btn-addwishlist hov-pointer trans-0-4">
                                        <i class="icon-wishlist icon_heart_alt" aria-hidden="true"></i>
                                        <i class="icon-wishlist icon_heart dis-none" aria-hidden="true"></i>
                                    </a> -->
    
                                    <div class="block2-btn-addcart w-size1 trans-0-4">
                                        <!-- Button -->
                                        <a href="{% url 'shop_cart:product_detail' item.slug %}" class="flex-c-m size1 bg4 bo-rad-23 hov1 s-text1 trans-0-4">
                                            Ver producto
                                        </a>
                                    </div>
                                </div>
                            </div>
    
                            <div class="block2-txt p-t-20">
                                <a href="{% url 'shop_cart:product_detail' item.slug %}" class="block2-name dis-block s-text3 p-b-5">
                                    {{item.name}}
                                </a>
                                {% if item.products_properties.is_sale %}
    
                                <span class="block2-oldprice m-text7 p-r-5" style="font-weight: bold !important;">
                                    ${{item.products_properties.sell_price|intcomma}}
                                </span>
    
                                <span class="block2-newprice m-text8 p-r-5">
                                    ${{item.products_properties.sale_price|intcomma}} 
                                </span>
                                {% else %}
                                    <span class="block2-price m-text6 p-r-5">
                                        ${{item.products_properties.sell_price|intcomma}}
                                    </span>
                                {% endif %}
                                
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                </div>

                <!-- Pagination -->
                {% if products_list.has_other_pages %}
                <div class="pagination flex-m flex-w p-t-26">
                    {% if products_list.has_previous %}
                    <a href="?page={{products_list.previous_page_number}}" class="item-pagination flex-c-m trans-0-4 "><i class="fa fa-chevron-left"></i></a>
                    {% endif %}
                    {% if products_list.number|add:'-4' > 1 %}
                    <a href="?page={{ obj_list.number|add:'-5' }}" class="item-pagination flex-c-m trans-0-4">&hellip;</a>

                    {% endif %}
                    {% for i in products_list.paginator.page_range %}
                        {% if products_list.number == i %}
                            <a href="#" class="item-pagination flex-c-m trans-0-4 active-pagination">{{i}}</a>
                        {% elif i > products_list.number|add:'-5' and i < products_list.number|add:'5' %}
                            <a href="?page={{i}}" class="item-pagination flex-c-m trans-0-4">{{i}}</a>
                        {% endif %}
                    {% endfor %}
                    {% if products_list.has_next %}
                    <a href="?page={{products_list.next_page_number}}" class="item-pagination flex-c-m trans-0-4 "><i class="fa fa-chevron-right"></i></a>
                    {% endif %}
                </div>
                {% endif %}
            </div>
            {% else %}
            <div class="col-sm-8 col-md-19 col-lg-10 p-b-50">
                <h4 class="m-text14 p-b-32" style="text-align: center;">
                    No se encontrarón resultados 🙁
                </h4>
            </div>
            {% endif %}
        </div>
    </div>
</section>

{% endblock content %}
{% block customjs %}
<script type="text/javascript">
    $(".selection-1").select2({
        minimumResultsForSearch: 20,
        dropdownParent: $('#dropDownSelect1')
    });

    $(".selection-2").select2({
        minimumResultsForSearch: 20,
        dropdownParent: $('#dropDownSelect2')
    });
</script>
<!-- Toastr -->
<script src="{{STATIC_URL}}assets/js/plugins/toastr/toastr.min.js"></script>
{% comment %} <script src="{{STATIC_URL}}js/shop.js"></script> {% endcomment %}
<script type="text/javascript" src="{{STATIC_URL}}shop/js/input-range.js"></script>

{% endblock customjs %}

{% block docready %}

{% for category in categories_list %}
  for (const param of params) {
    if(param[1] == '{{category.slug}}'){
      $('#{{category.slug}}').addClass('param');
    }
  }
{% endfor %}

{% endblock docready %}