{% extends 'base_shop.html' %}
{% load thumbnail %}
{% load humanize %}
{% block title %}Karla Gálvez{% endblock title %}
{% block subtitle %} {{product}} {% endblock subtitle %}


{% block content %}

	<!-- breadcrumb -->
	<div class="bread-crumb bgwhite flex-w p-l-52 p-r-15 p-t-30 p-l-15-sm">
		<a href="{% url 'shop:shop_list' %}" class="s-text16">
			Inicio
			<i class="fa fa-angle-right m-l-8 m-r-9" aria-hidden="true"></i>
		</a>

		<a href="product.html" class="s-text16">
            {% if product.category == 'S'%}
			Agendas
            {% elif product.category == 'N' %}
            Libretas
            {% elif product.category == 'P' %}
            Planners
            {% elif product.category == 'O' %}
            Organizadores
            {% elif product.category == 'R' %}
            Recetarios
            {% endif %}
			<i class="fa fa-angle-right m-l-8 m-r-9" aria-hidden="true"></i>
		</a>

		<a href="#" class="s-text16">
			{% if product.subcategory == 'C'%}
            Personalizadas
            {% elif product.subcategory == 'N' %}
            Sin personalizar
            {% elif product.subcategory == 'S' %}
            Escolares
            {% elif product.subcategory == 'D' %}
            Diarias
            {% elif product.subcategory == 'W' %}
            Boda
            {% elif product.subcategory == 'P' %}
            Embarazo
            {% endif %}
			<i class="fa fa-angle-right m-l-8 m-r-9" aria-hidden="true"></i>
		</a>

		<span class="s-text17">
			{{product}}
		</span>
	</div>

	<!-- Product Detail -->
	<div class="container bgwhite p-t-35 p-b-80">
		<div class="flex-w flex-sb">
			<div class="w-size13 p-t-30 respon5">
				<div class="wrap-slick3 flex-sb flex-w">
					<div class="wrap-slick3-dots"></div>

					<div class="slick3">
                        {% for item in product.products_gallery.all %}
                        {% thumbnail item.image '80x80' crop='center' as img %}
						<div class="item-slick3" data-thumb="{{img.url}}">
							<div class="wrap-pic-w">
								<img src="{{item.image.url}}" alt="IMG-PRODUCT">
							</div>
						</div>
                        {% endthumbnail %}
                        {% endfor %}
					</div>
				</div>
			</div>

			<div class="w-size14 p-t-30 respon5">
				<h4 class="product-detail-name m-text16 p-b-13">
					{{product}}
				</h4>

				<span class="m-text17">
					{% if product.products_properties.is_sale %}
                    $ {{product.products_properties.sale_price|intcomma}}
                    {% else %}
                    $ {{product.products_properties.sell_price|intcomma}}
                    {% endif %}
				</span>
				<!--  -->
                <form method="post"
                action="{% if request.is_secure %}https://{% else %}http://{% endif %}{{request.get_host}}{% url 'shop_cart:product_detail' product.slug %}"
                class="js-product-form p-0 m-0">
                {% csrf_token %}
                    <div class="p-t-33 p-b-60">
                        <div class="flex-m flex-w p-b-10">
                            <div class="s-text15 w-size15 t-center">
                                {{form_product.sizes.label}}
                            </div>

                            <div class="rs2-select2 rs3-select2 bo4 of-hidden w-size16">
                                {{form_product.sizes}}
                                {{form_product.product_pk}}

                            </div>
                        </div>
                        {% if product.subcategory == 'C' or product.subcategory == 'S' %}

                        <div class="flex-m flex-w">
                            <div class="s-text15 w-size15 t-center">
                                {{form_product.name_personalization.label}}
                            </div>

                            <div class="w-size16 bo4">
                                {{form_product.name_personalization}}

                            </div>
                        </div>
                        <div class="pt-2 pb-2">

                            <label for="size" class="form-label"></label>
                            
                            <small style="padding-top: 10px;">

                                <strong style="font-weight: bolder;">Importante</strong>, escribe tu nombre exactamente como quieres que esté escrito en tu agenda. No olvides mayúsculas, minúsculas y acentos. No se realizarán cambios ni devoluciones a menos que la agenda tenga un error de fábrica.
								{% if product.subcategory == 'S' %}
                                <p></p>
								<strong style="font-weight: bolder;">Favor de especificar si es 'Maestra' o 'Directivo', Ej. Maestra Karla o Directora Karla</strong>
								{% endif %}
                                <br>
            
                            </small>
                        </div>
                        {% elif product.subcategory == 'N' %}
                        <small class="text-muted">

                            <strong>Importante</strong>, este producto NO es personalizado, el texto que aparece en la portada son frases o es "Agenda"

                            <br>
        
                        </small>
                        {% endif %}

                        <div class="flex-m flex-w">
                            <div class="s-text2">
                                ¿Es un regalo? Envoltura + $20
                            </div>
							<div class="rs2-select2 rs3-select2 of-hidden w-size1 p-l-20">
                                <input type="checkbox" name="gift"> 
                            </div>
							<div class="s-text11">
								tag con foil DISEÑO ALEATORIO + bolsa de celofán + papel china + moño de listón
							</div>

                            
							
                        </div>

                        <div class="flex-r-m flex-w p-t-10">
                            <div class="w-size16 flex-m flex-w">
                            {% if product.subcategory == 'N' %}
                                <div class="flex-w bo5 of-hidden m-r-22 m-t-10 m-b-10">
                                    <button class="btn-num-product-down color1 flex-c-m size7 bg8 eff2">
                                        <i class="fs-12 fa fa-minus" aria-hidden="true"></i>
                                    </button>

                                    {{form_product.quantity}}

                                    <button class="btn-num-product-up color1 flex-c-m size7 bg8 eff2">
                                        <i class="fs-12 fa fa-plus" aria-hidden="true"></i>
                                    </button>
                                </div>
                            {% else %}
                                Se agregará {{form_product.quantity}} al carrito
                            {% endif %}

                                <div class="btn-addcart-product-detail size12 trans-0-4 m-t-10 m-b-10">
                                    <!-- Button -->
                                    <button class="flex-c-m sizefull bg1 bo-rad-23 hov1 s-text1 trans-0-4">
                                        Agregar al carrito
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
                
                        
				<div class="p-b-45">
					<span class="s-text8">Modelo: {{product.model}}</span>
				</div>

				<!--  -->
				<div class="wrap-dropdown-content bo6 p-t-15 p-b-14 active-dropdown-content">
					<h5 class="js-toggle-dropdown-content flex-sb-m cs-pointer m-text19 color0-hov trans-0-4">
						Descripción
						<i class="down-mark fs-12 color1 fa fa-minus dis-none" aria-hidden="true"></i>
						<i class="up-mark fs-12 color1 fa fa-plus" aria-hidden="true"></i>
					</h5>

					<div class="dropdown-content dis-none p-t-15 p-b-23">
						<p class="s-text8">
                            {{product.description|safe}}
						</p>
					</div>
				</div>
                {% if product.aditional %}

				<div class="wrap-dropdown-content bo7 p-t-15 p-b-14">
					<h5 class="js-toggle-dropdown-content flex-sb-m cs-pointer m-text19 color0-hov trans-0-4">
						Especificaciones
						<i class="down-mark fs-12 color1 fa fa-minus dis-none" aria-hidden="true"></i>
						<i class="up-mark fs-12 color1 fa fa-plus" aria-hidden="true"></i>
					</h5>

					<div class="dropdown-content dis-none p-t-15 p-b-23">
						<p class="s-text8">
                            {{product.aditional|safe}}
						</p>
					</div>
				</div>
                {% endif %}

				<!-- <div class="wrap-dropdown-content bo7 p-t-15 p-b-14">
					<h5 class="js-toggle-dropdown-content flex-sb-m cs-pointer m-text19 color0-hov trans-0-4">
						Reviews (0)
						<i class="down-mark fs-12 color1 fa fa-minus dis-none" aria-hidden="true"></i>
						<i class="up-mark fs-12 color1 fa fa-plus" aria-hidden="true"></i>
					</h5>

					<div class="dropdown-content dis-none p-t-15 p-b-23">
						<p class="s-text8">
							Fusce ornare mi vel risus porttitor dignissim. Nunc eget risus at ipsum blandit ornare vel sed velit. Proin gravida arcu nisl, a dignissim mauris placerat
						</p>
					</div>
				</div> -->
			</div>
		</div>
	</div>




{% if related_products %}
<section class="newproduct bgwhite p-t-45 p-b-105">
	<div class="container" style="max-width: 1500px !important;">
		<div class="sec-title p-b-60">
			<h3 class="m-text5 t-center">
				Te puede interesar 🤩
			</h3>
		</div>

		<!-- Slide2 -->
		<div class="wrap-slick2">
			<div class="slick2">
				{% for item in related_products %}
				<div class="item-slick2 p-l-15 p-r-15">
					<!-- Block2 -->
					<div class="block2">
						<div class="block2-img wrap-pic-w of-hidden pos-relative {%if item.products_properties.is_sale%}block2-labelsale{% endif %}">
							<img src="{{item.products_gallery.all.first.image.url}}" alt="IMG-PRODUCT">

							<div class="block2-overlay trans-0-4">
								<!-- <a href="#" class="block2-btn-addwishlist hov-pointer trans-0-4">
									<i class="icon-wishlist icon_heart_alt" aria-hidden="true"></i>
									<i class="icon-wishlist icon_heart dis-none" aria-hidden="true"></i>
								</a> -->

								<div class="block2-btn-addcart w-size1 trans-0-4">
									<!-- Button -->
									<a href="{% url 'shop_cart:product_detail' item.slug %}" class="flex-c-m size1 bg4 bo-rad-23 hov1 s-text1 trans-0-4">
										Ver producto
									</a>
								</div>
							</div>
						</div>

						<div class="block2-txt p-t-20">
							<a href="{% url 'shop_cart:product_detail' item.slug %}" class="block2-name dis-block s-text3 p-b-5">
								{{item.name}}
							</a>
							{% if item.products_properties.is_sale %}

							<span class="block2-oldprice m-text7 p-r-5" style="font-weight: bold !important;">
								${{item.products_properties.sell_price|intcomma}}
							</span>

							<span class="block2-newprice m-text8 p-r-5">
								${{item.products_properties.sale_price|intcomma}} 
							</span>
							{% else %}
								<span class="block2-price m-text6 p-r-5">
									${{item.products_properties.sell_price|intcomma}}
								</span>
							{% endif %}
							
						</div>
					</div>
				</div>
				{% endfor %}
			</div>
		</div>

	</div>
</section>
{% endif %}
<!-- Container Selection -->
<div id="dropDownSelect1"></div>
<div id="dropDownSelect2"></div>
{% endblock content %}

{% block customjs %}
<script type="text/javascript">

	{% if product.subcategory == 'C' or product.subcategory == 'S' %}
		$('#id_quantity').prop('readonly', true);
	{% endif %}

    $(".selection-1").select2({
        minimumResultsForSearch: 20,
        dropdownParent: $('#dropDownSelect1')
    });

    $(".selection-2").select2({
        minimumResultsForSearch: 20,
        dropdownParent: $('#dropDownSelect2')
    });
</script>
<!-- Toastr -->
<script src="{{STATIC_URL}}assets/js/plugins/toastr/toastr.min.js"></script>
<script src="{{STATIC_URL}}js/shop.js"></script>
<script type="text/javascript" src="{{STATIC_URL}}shop/js/zoomImage.js"></script>

<script type="text/javascript" src="{{STATIC_URL}}shop/js/product_detail.js"></script>

{% endblock customjs %}

{% block docready %}
{% for field in form_product %}
  {% for error in field.errors %}
     toastr.error("{{error}}");
  {% endfor %}
{% endfor %}

{% for field in form_product %}
  {% for error in field.errors %}
    $("#{{field.auto_id}}").addClass('is-invalid');
  {% endfor %}
{% endfor %}

{% endblock docready %}
