{% extends 'base_shop.html' %}

{% load humanize %}
{% load thumbnail %}
{% load tags %}
{% block title %}Karla Gálvez{% endblock title %}

{% block subtitle %} Carrito {% endblock subtitle %}

{% block content %}




{% if cart.get_quantity_products > 0 %}

            <section class="section-content panel panel-user-backoffice">

                <div class="container pt-4 pb-5">

                    <div class="tab-content parent" id="panel_user">

                        <div class="tab-pane fade show d-block">

                            <div class="tab-pane-content">

                                <div class="row">

                                    <div class="col-12 col-lg-6">

                                        <h5>Mi carrito de compras</h5>

                                        {% comment %} <p>

                                            Lorem ipsum dolor sit amet consectetur adipisicing elit.

                                        </p> {% endcomment %}

                                    </div>

                                </div>

            

                                <div class="row pt-2 pb-2 cart-table">


                                    {% include 'shop/includes/partial_cart_table.html' %}


                                </div>

                            </div>

                            <div class="tab-pane-sub-container div-coupon">

                                {% include 'shop/includes/partial_cart_coupon.html' %}

                            </div> 

                            <div class="tab-pane-sub-container div-total">

                                {% include 'shop/includes/partial_cart_charge.html' %}

                            </div>

                            <div class="tab-pane-footer d-flex justify-content-end align-items-center">

                                <button onclick="sendPage('{% url 'shop:cart_checkout' %}?step=informacion');" type="button" class="four-buttons">Continuar compra</button>

                            </div>

                        </div>

                    </div>

                </div>

            </section>
            {% else %}
            <section class="section-content panel panel-user-backoffice">

              <div class="container pt-4 pb-5">

                  <div class="tab-content parent" id="panel_user">

                      <div class="tab-pane fade show d-block">

                          <div class="tab-pane-content">

                              <div class="row">

                                  <div class="col-12" style="text-align: center;">
                                      <h2 class="size1 m-text5" >Carrito vacío<i class="bi bi-cart-x-fill "></i></h2><br>
                                      <button onclick="sendPage('{% url 'shop:products_list' %}');" type="button" class="four-buttons">Ver más productos</button>

                                  </div>
                              </div>
                          </div>
                      </div>
                  </div>
              </div>
            </section>
            {% endif %}
{% if related_products %}
<section class="section-content template">

    <!-- Recomendar productos relacionados para permitir flujo de consultas por parte del usuario -->

    <div class="container config-container">

        <h6 class="text-center">Resultados con base a tus búsquedas</h6>

        <h4 class="text-center">

            <strong>Quizá estos artículos sean de tu interés</strong>

            <hr>

        </h4>

        <div class="row">
            {% for item in related_products %}
            <div class="col-6 col-md-4 col-lg-3 article-show pb-4">

                <div class="carousel slide" data-bs-ride="false" id="itemname_{{forloop.counter}}">

                    <button class="carousel-control-prev" type="button" data-bs-target="#itemname_{{forloop.counter}}"

                        data-bs-slide="prev">

                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>

                        <span class="visually-hidden">Previous</span>

                    </button>

                    <button class="carousel-control-next" type="button" data-bs-target="#itemname_{{forloop.counter}}"

                        data-bs-slide="next">

                        <span class="carousel-control-next-icon" aria-hidden="true"></span>

                        <span class="visually-hidden">Next</span>

                    </button>

                    <div class="carousel-inner">
                        {% for image in item.product.products_gallery.all %}
                        <div class="carousel-item carrousel-product-item {% if forloop.first %}active{% endif %} bground-config" 
                        style="background-image: url('{{image.image.url}}');"></div>
                        {% endfor %}
                        <!-- <div class="carousel-item carrousel-product-item bground-config" style="background-image: url('{{STATIC_URL}}shop/resources/store/1-2.jpg');">

                        </div> -->

                    </div>

                    <button type="button" onclick="sendPage('{% url 'shop:product_detail' item.product.slug %}');" class="four-buttons d-block mx-auto check-article-button">Ver

                        artículo</button>

                </div>

                <div class="row pt-2 pb-2">

                    <div class="col-10 col-md-9 col-lg-6">

                        <p style="cursor:pointer;" onclick="sendPage('{% url 'shop:product_detail' item.product.slug %}');" class="text-grey pb-0 mb-2">

                            <small>{{item.product.name}} {{item.product.subcategory}}</small>

                        </p>

                        <h6>
                            {% if item.is_sale %}
                                $ {{item.sale_price|intcomma}}
                            {% else %}
                                $ {{item.price|intcomma}}
                            {% endif %}
                        </h6>

                    </div>



                </div>

            </div>
            {% endfor %}
            <!-- <div class="col-6 col-md-4 col-lg-3 article-show pb-4">

                <div class="carousel slide" data-bs-ride="false" id="itemname_1">

                    <button class="carousel-control-prev" type="button" data-bs-target="#itemname_1"

                        data-bs-slide="prev">

                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>

                        <span class="visually-hidden">Previous</span>

                    </button>

                    <button class="carousel-control-next" type="button" data-bs-target="#itemname_1"

                        data-bs-slide="next">

                        <span class="carousel-control-next-icon" aria-hidden="true"></span>

                        <span class="visually-hidden">Next</span>

                    </button>

                    <div class="carousel-inner">

                        <div class="carousel-item carrousel-product-item active bground-config" style="background-image: url('{{STATIC_URL}}shop/resources/store/5-1.jpg');">

                        </div>

                        <div class="carousel-item carrousel-product-item bground-config" style="background-image: url('{{STATIC_URL}}shop/resources/store/5-2.jpg');">

                        </div>

                    </div>

                    <button type="button" class="four-buttons d-block mx-auto check-article-button">Ver

                        artículo</button>

                </div>

                <div class="row pt-2 pb-2">

                    <div class="col-10 col-md-9 col-lg-6">

                        <p class="text-grey pb-0 mb-2">

                            <small>Tenis Nike #19328</small>

                        </p>

                        <h6>$ 50.00 USD</h6>

                    </div>



                </div>

            </div>

            <div class="col-6 col-md-4 col-lg-3 article-show pb-4">

                <div class="carousel slide" data-bs-ride="false" id="itemname_2">

                    <button class="carousel-control-prev" type="button" data-bs-target="#itemname_2"

                        data-bs-slide="prev">

                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>

                        <span class="visually-hidden">Previous</span>

                    </button>

                    <button class="carousel-control-next" type="button" data-bs-target="#itemname_2"

                        data-bs-slide="next">

                        <span class="carousel-control-next-icon" aria-hidden="true"></span>

                        <span class="visually-hidden">Next</span>

                    </button>

                    <div class="carousel-inner">

                        <div class="carousel-item carrousel-product-item active bground-config" style="background-image: url('{{STATIC_URL}}shop/resources/store/3-1.jpg');">

                        </div>

                        <div class="carousel-item carrousel-product-item bground-config" style="background-image: url('{{STATIC_URL}}shop/resources/store/3-2.jpg');">

                        </div>

                        <div class="carousel-item carrousel-product-item bground-config" style="background-image: url('{{STATIC_URL}}shop/resources/store/3-3.jpg');">

                        </div>

                    </div>

                    <button type="button" class="four-buttons d-block mx-auto check-article-button">Ver

                        artículo</button>

                </div>

                <div class="row pt-2 pb-2">

                    <div class="col-10 col-md-9 col-lg-6">

                        <p class="text-grey pb-0 mb-2">

                            <small>Tenis Nike #19328</small>

                        </p>

                        <h6>$ 50.00 USD</h6>

                    </div>



                </div>

            </div>

            <div class="col-6 col-md-4 col-lg-3 article-show pb-4">

                <div class="carousel slide" data-bs-ride="false" id="itemname_3">

                    <button class="carousel-control-prev" type="button" data-bs-target="#itemname_3"

                        data-bs-slide="prev">

                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>

                        <span class="visually-hidden">Previous</span>

                    </button>

                    <button class="carousel-control-next" type="button" data-bs-target="#itemname_3"

                        data-bs-slide="next">

                        <span class="carousel-control-next-icon" aria-hidden="true"></span>

                        <span class="visually-hidden">Next</span>

                    </button>

                    <div class="carousel-inner">

                        <div class="carousel-item carrousel-product-item active bground-config" style="background-image: url('{{STATIC_URL}}shop/resources/store/4-1.jpg');">

                        </div>

                        <div class="carousel-item carrousel-product-item bground-config" style="background-image: url('{{STATIC_URL}}shop/resources/store/4-2.jpg');">

                        </div>

                    </div>

                    <button type="button" class="four-buttons d-block mx-auto check-article-button">Ver

                        artículo</button>

                </div>

                <div class="row pt-2 pb-2">

                    <div class="col-10 col-md-9 col-lg-6">

                        <p class="text-grey pb-0 mb-2">

                            <small>Tenis Nike #19328</small>

                        </p>

                        <h6>$ 50.00 USD</h6>

                    </div>



                </div>

            </div> -->

        </div>

    </div>

</section>
{% endif %}

{% comment %} {% if not store_instance.customer.has_paid_for_current_month %}
<div class="header-cart header-dropdown show-header-dropdown backgroundDeshabilitado"  >
  <i class="fa fa-shopping-cart fa-5x text-center"></i>
  <h2 class="pb-2 pt-2 mb-2 text-center">CARRITO DESHABILITADO</h2>
  <!-- <ul class="header-cart-wrapitem widthCart">
    <li class="header-cart-item">
      <div class="header-cart-item-img">
        <img src="images/item-cart-01.jpg" alt="IMG">
      </div>
      <div class="header-cart-item-txt">
        <h5 href="#" class="header-cart-item-name">
          White Shirt With Pleat Detail Back
        </h5>
        <span class="header-cart-item-info">
          1 x $19.00
        </span>
      </div>
    </li>
    <li class="header-cart-item">
      <div class="header-cart-item-img">
        <img src="images/item-cart-02.jpg" alt="IMG">
      </div>
      <div class="header-cart-item-txt">
        <h5 href="#" class="header-cart-item-name">
          Converse All Star Hi Black Canvas
        </h5>
        <span class="header-cart-item-info">
          1 x $39.00
        </span>
      </div>
    </li>

    <li class="header-cart-item">
      <div class="header-cart-item-img">
        <img src="images/item-cart-03.jpg" alt="IMG">
      </div>
      <div class="header-cart-item-txt">
        <h5 href="#" class="header-cart-item-name">
          Nixon Porter Leather Watch In Tan
        </h5>
        <span class="header-cart-item-info">
          1 x $17.00
        </span>
      </div>
    </li>
  </ul>

  <div class="header-cart-total widthCart">
    <h5>TOTAL: $75.00</h5>
  </div> -->

</div>
{% endif %}
<form id="form-checkout" action="" method="POST">
  {% csrf_token %}
  {% include 'core/snippets/form_messages.html' with form=form_order checkout=True %}
  {% include 'core/snippets/form_messages.html' with form=form_delivery checkout=True %}
  <!-- Title Page -->
  <section class="bg-title-page p-t-40 p-b-50 flex-col-c-m">
    <h3 class="l-text2 t-center" style="color: #000">
      Carrito de compras
    </h3>
  </section>

  <!-- Cart -->
  {% if cart.get_quantity_products > 0 %}
  <section class="cart bgwhite">
    <div class="container">
      <!-- Cart item -->
      {% include 'shop/includes/partial_cart_checkout.html' %}
    </div>
  </section>
  {% else %}
  <section class="cart bgwhite p-t-70">
    <div class="container m-b-70 t-center">
      <!-- Cart item -->
      <h2 class="size1 m-text5">Carrito vacío</h2><br>
      <i class="fa fa-shopping-cart fa-5x"></i>
    </div>
    <hr>
  </section>
  {% endif %}
  {% if related_products %}
  <section class="relateproduct bgwhite p-t-45 p-b-138">
    <div class="container">
      <div class="sec-title p-b-60">
        <h3 class="m-text5 t-center">
          Te puede interesar
        </h3>
      </div>

      <!-- Slide2 -->
      <div class="wrap-slick2">
        <div class="slick2">
          {% for item in related_products %}
          <div class="item-slick2 p-l-15 p-r-15">
            <!-- Block2 -->
            <div class="block2">
              <div class="block2-img wrap-pic-w of-hidden pos-relative {% if item.is_sale %}block2-labelsale{% endif %}">
                <img src="{{item.product.products_gallery.all.first.image.url}}" alt="IMG-PRODUCT">

                <div class="block2-overlay trans-0-4">
                  <!-- <a href="#" class="block2-btn-addwishlist hov-pointer trans-0-4">
                                    <i class="icon-wishlist icon_heart_alt" aria-hidden="true"></i>
                                    <i class="icon-wishlist icon_heart dis-none" aria-hidden="true"></i>
                                </a> -->

                  <div class="block2-btn-addcart w-size1 trans-0-4">
                    <!-- Button -->
                    <a href="{% url 'shop:product_detail' item.product.slug %}"
                      class="flex-c-m size2 bg4 bo-rad-23 hov1 m-text3 trans-0-4">
                      Ver producto
                    </a>
                  </div>
                </div>
              </div>

              <div class="block2-txt p-t-20">
                <a href="{% url 'shop:product_detail' item.product.slug %}" class="block2-name dis-block s-text3 p-b-5">
                  {{item.product.name}}
                </a>

                {% if item.is_sale %}
                <span class="block2-newprice m-text14">
                    ${{item.sale_price|intcomma}}
                </span>
                <span class="block2-oldprice m-text7 p-r-5">
                    ${{item.price|intcomma}}
                </span>
                {% else %}
                <span class="block2-price m-text6 p-r-5">
                    ${{item.price|intcomma}}
                </span>
                {% endif %}
              </div>
            </div>
          </div>
          {% endfor %}
        </div>
      </div>

    </div>
  </section>
  {% endif %}
</form> {% endcomment %}
  {% comment %} <div class="modal" tabindex="-1" id="removeArticle">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
            <h5 class="modal-title">¡Alerta!</h5>
            <p>¿Desea quitar el artículo [Articulo] del carrito?</p>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-link text-dark" data-bs-dismiss="modal">Cerrar</button>
            <button type="button" class="btn btn-success">De acuerdo</button>
          </div>
        </div>
      </div>
    </div> {% endcomment %}
{% endblock content %}

{% block customjs %}
<!-- Toastr -->

<script src="{{STATIC_URL}}assets/js/plugins/toastr/toastr.min.js"></script>
<script src="{{STATIC_URL}}js/shop.js"></script>
<script src="{{STATIC_URL}}js/script.js" defer></script>

{% endblock customjs %}

{% block docready %}

{% if form_order.errors or form_delivery.errors %}
$('#id_email').val('');
$("#id_email").parent().addClass('has-error');
$("#id_email").addClass('has-error');
$("#id_email").after("<p class='s-text7 help-block help-block-error'>Llena de nuevo tu correo</span>");
{% endif %}
{% include 'core/snippets/form_validation.html' with form=form_order check=check %}
{% include 'core/snippets/form_validation.html' with form=form_delivery check=check %}

{% endblock docready %}