{% extends 'base_shop.html' %}

{% load humanize %}
{% load thumbnail %}
{% load tags %}
{% block title %}Karla Gálvez{% endblock title %}

{% block subtitle %} Carrito {% endblock subtitle %}

{% block content %}
{% if cart.get_quantity_products > 0 %}

	<!-- Cart -->
	<section class="cart bgwhite p-t-70 p-b-100">
		<div class="container">
			<!-- Cart item -->
			<div class="container-table-cart pos-relative">
        {% include 'shop/includes/partial_cart_table.html' %}
			</div>

      {% include 'shop/includes/partial_cart_coupon.html' %}

			<!-- Total -->
			<div class="bo9 w-size18 p-l-40 p-r-40 p-t-30 p-b-38 m-t-30 m-r-0 m-l-auto p-lr-15-sm">

				<div class="size15 trans-0-4">
					<!-- Button -->
					<button onclick="sendPage('{% url 'shop:cart_checkout' %}?step=informacion');" class="flex-c-m sizefull bg1 bo-rad-23 hov1 s-text1 trans-0-4">
						Continuar con la compra
					</button>
				</div>
			</div>
		</div>
	</section>

{% else %}
{% endif %}

{% endblock content %}

{% block customjs %}
<!-- Toastr -->

<script src="{{STATIC_URL}}assets/js/plugins/toastr/toastr.min.js"></script>
<script src="{{STATIC_URL}}js/script.js" defer></script>

{% endblock customjs %}

{% block docready %}

{% if form_order.errors or form_delivery.errors %}
$('#id_email').val('');
$("#id_email").parent().addClass('has-error');
$("#id_email").addClass('has-error');
$("#id_email").after("<p class='s-text7 help-block help-block-error'>Llena de nuevo tu correo</span>");
{% endif %}
{% include 'core/snippets/form_validation.html' with form=form_order check=check %}
{% include 'core/snippets/form_validation.html' with form=form_delivery check=check %}

{% endblock docready %}