{% extends 'base_shop.html' %}

{% load humanize %}
{% load thumbnail %}
{% load tags %}
{% block title %}Karla Gálvez{% endblock title %}

{% block subtitle %} Carrito {% endblock subtitle %}
{% block displaycartheader %}style="display: none;"{% endblock displaycartheader %}
{% block customcss %}
<style>
	.cart-empty{
		text-align: center;
		text-align: -webkit-center;
	}
</style>
{% endblock customcss %}

{% block content %}
{% if cart.get_quantity_products > 0 %}

	<!-- Cart -->
	<section class="cart bgwhite p-t-70 p-b-100">
		<div class="container">
			<!-- Cart item -->
			<div class="container-table-cart pos-relative">
        {% include 'shop/includes/partial_cart_table.html' %}
			</div>
			<div class="container-table-coupon">
				{% include 'shop/includes/partial_cart_coupon.html' %}

			</div>

			<!-- Total -->
			<div class="bo9 w-size18 p-l-40 p-r-40 p-t-30 p-b-38 m-t-30 m-r-0 m-l-auto p-lr-15-sm">

				<div class="size15 trans-0-4">
					<!-- Button -->
					<button onclick="sendPage('{% url 'shop:cart_checkout' %}?step=informacion');" class="flex-c-m sizefull bg1 bo-rad-23 hov1 s-text1 trans-0-4">
						Continuar con la compra
					</button>
				</div>
			</div>
		</div>
	</section>

{% else %}
<section class="cart cart-empty bgwhite p-t-70 m-b-100">
	<lottie-player src="https://assets4.lottiefiles.com/packages/lf20_fzoupjne.json" mode="bounce" background="transparent"  speed="1"  style="width: 300px; height: 300px;"  loop autoplay></lottie-player>
	<div class="cart-empty-title p-t-30 p-t-50">
		<h1>Tu carrito está vacío</h1>
	</div>
	
</section>
<section class="newproduct bgwhite p-t-45 p-b-105">
	<div class="container" style="max-width: 1500px !important;">
		<div class="sec-title p-b-60">
			<h3 class="m-text5 t-center">
				Te puede interesar 🤩
			</h3>
		</div>

		<!-- Slide2 -->
		<div class="wrap-slick2">
			<div class="slick2">
				{% for item in related_products %}
				<div class="item-slick2 p-l-15 p-r-15">
					<!-- Block2 -->
					<div class="block2">
						<div class="block2-img wrap-pic-w of-hidden pos-relative {%if item.products_properties.is_sale%}block2-labelsale{% endif %}">
							<img src="{{item.products_gallery.all.first.image.url}}" alt="IMG-PRODUCT">

							<div class="block2-overlay trans-0-4">
								<!-- <a href="#" class="block2-btn-addwishlist hov-pointer trans-0-4">
									<i class="icon-wishlist icon_heart_alt" aria-hidden="true"></i>
									<i class="icon-wishlist icon_heart dis-none" aria-hidden="true"></i>
								</a> -->

								<div class="block2-btn-addcart w-size1 trans-0-4">
									<!-- Button -->
									<a href="{% url 'shop_cart:product_detail' item.slug %}" class="flex-c-m size1 bg4 bo-rad-23 hov1 s-text1 trans-0-4">
										Ver producto
									</a>
								</div>
							</div>
						</div>

						<div class="block2-txt p-t-20">
							<a href="{% url 'shop_cart:product_detail' item.slug %}" class="block2-name dis-block s-text3 p-b-5">
								{{item.name}}
							</a>
							{% if item.products_properties.is_sale %}

							<span class="block2-oldprice m-text7 p-r-5" style="font-weight: bold !important;">
								${{item.products_properties.sell_price|intcomma}}
							</span>

							<span class="block2-newprice m-text8 p-r-5">
								${{item.products_properties.sale_price|intcomma}} 
							</span>
							{% else %}
								<span class="block2-price m-text6 p-r-5">
									${{item.products_properties.sell_price|intcomma}}
								</span>
							{% endif %}
							
						</div>
					</div>
				</div>
				{% endfor %}
			</div>
		</div>

	</div>
</section>
{% endif %}
{% endblock content %}

{% block customjs %}
<!-- Toastr -->

<script src="{{STATIC_URL}}assets/js/plugins/toastr/toastr.min.js"></script>
<script src="{{STATIC_URL}}js/script.js" defer></script>
<script src="https://unpkg.com/@lottiefiles/lottie-player@latest/dist/lottie-player.js"></script>
{% endblock customjs %}

{% block docready %}

{% if form_order.errors or form_delivery.errors %}
$('#id_email').val('');
$("#id_email").parent().addClass('has-error');
$("#id_email").addClass('has-error');
$("#id_email").after("<p class='s-text7 help-block help-block-error'>Llena de nuevo tu correo</span>");
{% endif %}
{% include 'core/snippets/form_validation.html' with form=form_order check=check %}
{% include 'core/snippets/form_validation.html' with form=form_delivery check=check %}

{% endblock docready %}