{% extends 'base_shop.html' %}

{% load humanize %}
{% load thumbnail %}
{% load tags %}
{% block title %}Karla Gálvez{% endblock title %}

{% block subtitle %} Checkout {% endblock subtitle %}

{% block showheader %}style="display:none;"{% endblock showheader %}
{% block showfooter %}style="display:none;"{% endblock showfooter %}

{% block headercheckout %}
<header class="header1">
    <!-- Header desktop -->
    <div class="container-menu-header">
        <div class="topbar">
            <div class="topbar-social">
                <a href="#" class="topbar-social-item fa fa-facebook"></a>
                <a href="#" class="topbar-social-item fa fa-instagram"></a>
            </div>

            <span class="topbar-child1">
                Ya casi es tuyo !!! 🤩
            </span>

            <div class="topbar-child2">
                <span class="topbar-email">
                    ¿Necesitas ayuda?
                </span>

            </div>
        </div>
    </div>
</header>
{% endblock headercheckout %}

{% block customcss %}
<link rel="stylesheet" href="{{STATIC_URL}}css/checkout.css" />
{% endblock customcss %}
    

{% block content %}
<section class="bgwhite p-t-80 p-b-65">
    <div class="container-fluid">
        <div class="row dynamic-breadcrumb">   

            {% include 'shop/includes/partial_dynamic_breadcrumb.html' with step=step %}

        </div>
        <div class="row well" id="panel_user" style="height: 750px;">
            <div class="col-sm-12 col-md-6 col-lg-6 dynamic-step">

                {% include 'shop/includes/partial_dynamic_checkout.html' with step=step %}

            </div>
            <div class="col-sm-12 col-md-6 col-lg-6  dynamic-detail bg-light well detail-checkout p-l-30" style="width: 50vw;">
                
                {% include 'shop/includes/partial_dynamic_detail.html' with step=step %}
            </div>
            
        </div>
        <div class="row p-t-40">
            <div class="col-12 flex-w flex-sb dynamic-footer">

                {% include 'shop/includes/partial_footer_checkout.html' with step=step %}

            </div>
        </div>
    </div>

</section>
{% endblock content %}

{% block customjs %}
<!-- Toastr -->

<script src="{{STATIC_URL}}assets/js/plugins/toastr/toastr.min.js"></script>
<script type="text/javascript">
    // This is your test publishable API key.
    const stripe = Stripe("{{pk_stripe}}");

</script>
<script src="{{STATIC_URL}}js/script.js" defer></script>

{% endblock customjs %}

{% block docready %}

{% include 'core/snippets/form_validation.html' with form=form_order check=check %}
{% include 'core/snippets/form_validation.html' with form=form_delivery check=check %}

{% endblock docready %}