{% extends 'base_shop.html' %}

{% load humanize %}
{% load thumbnail %}
{% load tags %}
{% block title %}Karla Gálvez{% endblock title %}

{% block subtitle %} Checkout {% endblock subtitle %}

{% block customcss %}
<link rel="stylesheet" href="{{STATIC_URL}}css/checkout.css" />
{% endblock customcss %}
    

{% block content %}
            <section class="section-content panel panel-user-backoffice">

                <div class="container">

                    {% comment %} <ul class="nav nav-pills justify-content-center">

                        <li class="nav-item">

                            <button type="button" class="nav-link">Mi cuenta</button>

                        </li>

                        <li class="nav-item dropdown">

                            <button type="button" class="nav-link dropdown-toggle" data-bs-toggle="dropdown">Compras</button>

                            <ul class="dropdown-menu">

                                <li><a class="dropdown-item" href="#">Lista de ordenes</a></li>

                                <li><a class="dropdown-item active" href="#">Carrito de compras</a></li>

                                <li><a class="dropdown-item" href="#">Favoritos</a></li>

                            </ul>

                        </li>

                        <li class="nav-item">

                            <button type="button" class="nav-link">Mis direcciones</button>

                        </li>

                        <li class="nav-item">

                            <button class="nav-link" class="nav-link">Configuración</button>

                        </li>

                    </ul> {% endcomment %}

                    <div class="tab-content parent well" id="panel_user">

                        <div class="tab-pane fade show d-block ">

                            <div class="tab-pane-content no-padding">

                                <div class="row g-0">
                                  
                                  <div class="col-12 col-lg-6 dynamic-padding dynamic-step">

                                  {% include 'shop/includes/partial_dynamic_checkout.html' with step=step %}

                                  </div>
                                    <div class="col-12 col-lg-6 dynamic-padding dynamic-detail bg-light well">
                                        
                                        {% include 'shop/includes/partial_dynamic_detail.html' with step=step %}

                                    </div>

                                </div>

                            </div>

                            <div class="tab-pane-footer d-flex justify-content-between align-items-center dynamic-footer">

                                {% include 'shop/includes/partial_footer_checkout.html' with step=step %}

                            </div>

                        </div>

                    </div>

                </div>

            </section>
{% endblock content %}

{% block customjs %}
<!-- Toastr -->

<script src="{{STATIC_URL}}assets/js/plugins/toastr/toastr.min.js"></script>
<!-- <script src="{{STATIC_URL}}js/script.js" defer></script> -->

{% endblock customjs %}

{% block docready %}

{% include 'core/snippets/form_validation.html' with form=form_order check=check %}
{% include 'core/snippets/form_validation.html' with form=form_delivery check=check %}

{% endblock docready %}