{% extends 'base_shop.html' %}
{% load i18n %}
{% load humanize %}
{% load thumbnail %}

{% block subtitle %} Inicio {% endblock subtitle %}

{% block content %}
<!-- Slide1 -->
<section class="slide1">
	<div class="wrap-slick1">
		<div class="slick1">
			{% for item in slides_list %}
			{% thumbnail item.image '1920x570' crop='center' as img %}
			<div class="item-slick1 item1-slick1" style="background-image: url('{{img.url}}');">
			{% endthumbnail %}

				<div class="wrap-content-slide1 sizefull flex-col-c-m p-l-15 p-r-15 p-t-150 p-b-170">
					<span class="caption1-slide1 m-text1 t-center animated visible-false m-b-15" data-appear="fadeInDown">
						Women Collection 2018
					</span>

					<h2 class="caption2-slide1 xl-text1 t-center animated visible-false m-b-37" data-appear="fadeInUp">
						New arrivals
					</h2>

					<div class="wrap-btn-slide1 w-size1 animated visible-false" data-appear="zoomIn">
						<!-- Button -->
						<a href="product.html" class="flex-c-m size2 bo-rad-23 s-text2 bgwhite hov1 trans-0-4">
							Compra ahora
						</a>
					</div>
				</div>

			</div>
			{% endfor %}
			<!-- <div class="item-slick1 item2-slick1" style="background-image: url({{STATIC_URL}}shop/images/master-slide-03.jpg);">
				<div class="wrap-content-slide1 sizefull flex-col-c-m p-l-15 p-r-15 p-t-150 p-b-170">
					<span class="caption1-slide1 m-text1 t-center animated visible-false m-b-15" data-appear="rollIn">
						Women Collection 2018
					</span>

					<h2 class="caption2-slide1 xl-text1 t-center animated visible-false m-b-37" data-appear="lightSpeedIn">
						New arrivals
					</h2>

					<div class="wrap-btn-slide1 w-size1 animated visible-false" data-appear="slideInUp">
						<a href="product.html" class="flex-c-m size2 bo-rad-23 s-text2 bgwhite hov1 trans-0-4">
							Shop Now
						</a>
					</div>
				</div>
			</div>

			<div class="item-slick1 item3-slick1" style="background-image: url({{STATIC_URL}}shop/images/master-slide-04.jpg);">
				<div class="wrap-content-slide1 sizefull flex-col-c-m p-l-15 p-r-15 p-t-150 p-b-170">
					<span class="caption1-slide1 m-text1 t-center animated visible-false m-b-15" data-appear="rotateInDownLeft">
						Women Collection 2018
					</span>

					<h2 class="caption2-slide1 xl-text1 t-center animated visible-false m-b-37" data-appear="rotateInUpRight">
						New arrivals
					</h2>

					<div class="wrap-btn-slide1 w-size1 animated visible-false" data-appear="rotateIn">

						<a href="product.html" class="flex-c-m size2 bo-rad-23 s-text2 bgwhite hov1 trans-0-4">
							Shop Now
						</a>
					</div>
				</div>
			</div> -->

		</div>
	</div>
</section>

<!-- Banner -->
<section class="banner bgwhite p-t-40 p-b-40">
	<div class="container">
		<div class="row">
			<div class="col-sm-10 col-md-8 col-lg-4 m-l-r-auto">
				<!-- block1 -->
				<div class="block1 hov-img-zoom pos-relative m-b-30">
					{% if schedule %}
					{% thumbnail schedule.first.products_gallery.all.first.image '720x932' crop='center' as img %}
					<img src="{{img.url}}" alt="IMG-BENNER">
					{% endthumbnail %}
					{% else %}
					<img src="{{STATIC_URL}}shop/images/banner-02.jpg" alt="IMG-BENNER">
					{% endif %}

					<div class="block1-wrapbtn w-size2">
						<!-- Button -->
						<a href="{% url 'shop:products_list' 'agendas' %}" class="flex-c-m size2 m-text2 bg3 hov1 trans-0-4">
							Agendas
							
						</a>
					</div>
				</div>

				<!-- block1 -->
				<div class="block1 hov-img-zoom pos-relative m-b-30">
					{% if recipe %}
					{% thumbnail recipe.first.products_gallery.all.first.image '720x660' crop='center' as img %}
					<img src="{{img.url}}" alt="IMG-BENNER">
					{% endthumbnail %}
					{% else %}
					<img src="{{STATIC_URL}}shop/images/prox-recetario.jpg" alt="IMG-BENNER">
					{% endif %}
					<div class="block1-wrapbtn w-size2">
						<!-- Button -->
						<a href="#" class="flex-c-m size2 m-text2 bg3 hov1 trans-0-4">
							Recetarios
						</a>
					</div>
				</div>
			</div>

			<div class="col-sm-10 col-md-8 col-lg-4 m-l-r-auto">
				<!-- block1 -->
				<div class="block1 hov-img-zoom pos-relative m-b-30">
					{% if notebook %}
					{% thumbnail notebook.first.products_gallery.all.first.image '720x660' crop='center' as img %}
					<img src="{{img.url}}" alt="IMG-BENNER">
					{% endthumbnail %}
					{% else %}
					<img src="{{STATIC_URL}}shop/images/prox-libreta.jpg" alt="IMG-BENNER">
					{% endif %}
					<div class="block1-wrapbtn w-size2">
						<!-- Button -->
						<a href="#" class="flex-c-m size2 m-text2 bg3 hov1 trans-0-4">
							Libretas
						</a>
					</div>
				</div>

				<!-- block1 -->
				<div class="block1 hov-img-zoom pos-relative m-b-30">
					{% if planners %}
					{% thumbnail planners.first.products_gallery.all.first.image '720x932' crop='center' as img %}
					<img src="{{img.url}}" alt="IMG-BENNER">
					{% endthumbnail %}
					{% else %}
					<img src="{{STATIC_URL}}shop/images/prox-planner.jpg" alt="IMG-BENNER">
					{% endif %}
					<div class="block1-wrapbtn w-size2">
						<!-- Button -->
						<a href="#" class="flex-c-m size2 m-text2 bg3 hov1 trans-0-4">
							Planners
						</a>
					</div>
				</div>
			</div>

			<div class="col-sm-10 col-md-8 col-lg-4 m-l-r-auto">
				<!-- block1 -->
				<div class="block1 hov-img-zoom pos-relative m-b-30">
					{% if organizer %}
					{% thumbnail organizer.first.products_gallery.all.first.image '720x932' crop='center' as img %}
					<img src="{{img.url}}" alt="IMG-BENNER">
					{% endthumbnail %}
					{% else %}
					<img src="{{STATIC_URL}}shop/images/prox-organizador.jpg" alt="IMG-BENNER">
					{% endif %}
					<div class="block1-wrapbtn w-size2">
						<!-- Button -->
						<a href="#" class="flex-c-m size2 m-text2 bg3 hov1 trans-0-4">
							Organizadores
						</a>
					</div>
				</div>

				<!-- block2 -->
				<div class="block2 wrap-pic-w pos-relative m-b-30">
					<img src="{{STATIC_URL}}shop/images/icons/bg-01.jpg" alt="IMG">
					<div class="" ></div>
					<div class="block2-content sizefull ab-t-l flex-col-c-m" >
						<h4 class="m-text4 t-center w-size3 p-b-8">
							Registrate y obten <span style="color:palevioletred !important">10% OFF</span> 
						</h4>

						<p class="t-center w-size4">
							Crea una cuenta y obten un cupón de 10% de descuento para tu primera compra
						</p>

						<div class="w-size2 p-t-25">
							<!-- Button -->
							<a href="#" class="flex-c-m size2 bg4 bo-rad-23 hov1 m-text3 trans-0-4">
								Registrate
							</a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>

<!-- Shipping -->
<section class="shipping bgwhite p-t-62 p-b-46">
	<div class="flex-w p-l-15 p-r-15">
		<div class="flex-col-c w-size5 p-l-15 p-r-15 p-t-16 p-b-15 respon1">
			<h4 class="m-text12 t-center" style="color: palevioletred;">
				ENVÍOS A TODO MÉXICO 🚚
			</h4>

			<a href="#" class="s-text11 t-center">
				El tiempo de envío es de 3 a 5 días hábiles
			</a>
		</div>

		<div class="flex-col-c w-size5 p-l-15 p-r-15 p-t-16 p-b-15 bo2 respon2">
			<h4 class="m-text12 t-center" style="color: palevioletred;">
				PAGOS SEGUROS 💳
			</h4>

			<span class="s-text11 t-center">
				Paga con tu tarjeta de débito o credito.
			</span>
		</div>

		<div class="flex-col-c w-size5 p-l-15 p-r-15 p-t-16 p-b-15 respon1">
			<h4 class="m-text12 t-center" style="color: palevioletred;"> 
				SIEMPRE DISPONIBLE 🥰
			</h4>

			<span class="s-text11 t-center">
				Compra en nuestra tienda cuando quieras
			</span>
		</div>
	</div>
</section>

<!-- New Product -->
<section class="newproduct bgwhite p-t-45 p-b-105">
	<div class="container" style="max-width: 1500px !important;">
		<div class="sec-title p-b-60">
			<h3 class="m-text5 t-center">
				Lo más TOP &#128525;
			</h3>
		</div>

		<!-- Slide2 -->
		<div class="wrap-slick2">
			<div class="slick2">
				{% for item in products_list %}
				<div class="item-slick2 p-l-15 p-r-15">
					<!-- Block2 -->
					<div class="block2">
						<div class="block2-img wrap-pic-w of-hidden pos-relative {%if item.products_properties.is_sale%}block2-labelsale{% endif %}">
							<img src="{{item.products_gallery.all.first.image.url}}" alt="IMG-PRODUCT">

							<div class="block2-overlay trans-0-4">
								<!-- <a href="#" class="block2-btn-addwishlist hov-pointer trans-0-4">
									<i class="icon-wishlist icon_heart_alt" aria-hidden="true"></i>
									<i class="icon-wishlist icon_heart dis-none" aria-hidden="true"></i>
								</a> -->

								<div class="block2-btn-addcart w-size1 trans-0-4">
									<!-- Button -->
									<a href="{% url 'shop_cart:product_detail' item.slug %}" class="flex-c-m size1 bg4 bo-rad-23 hov1 s-text1 trans-0-4">
										Ver producto
									</a>
								</div>
							</div>
						</div>

						<div class="block2-txt p-t-20">
							<a href="{% url 'shop_cart:product_detail' item.slug %}" class="block2-name dis-block s-text3 p-b-5">
								{{item.name}}
							</a>
							{% if item.products_properties.is_sale %}

							<span class="block2-oldprice m-text7 p-r-5" style="font-weight: bold !important;">
								${{item.products_properties.sell_price|intcomma}}
							</span>

							<span class="block2-newprice m-text8 p-r-5">
								${{item.products_properties.sale_price|intcomma}} 
							</span>
							{% else %}
								<span class="block2-price m-text6 p-r-5">
									${{item.products_properties.sell_price|intcomma}}
								</span>
							{% endif %}
							
						</div>
					</div>
				</div>
				{% endfor %}
			</div>
		</div>

	</div>
</section>
<!-- Banner2 -->
<section class="banner2 bg2 p-t-55 p-b-55">
	<div class="container" style="max-width: 1700px !important;">
		<div class="row">
			<div class="col-sm-10 col-md-8 col-lg-6 p-t-15 p-b-15">
				<div class="hov-img-zoom pos-relative">
					<img src="{{STATIC_URL}}shop/images/banner-karla.jpg" alt="IMG-BANNER">
				</div>
			</div>

			<div class="col-sm-10 col-md-8 col-lg-6 p-t-15 p-b-15">
				<div class="bgwhite hov-img-zoom pos-relative p-b-20per-ssm">
					<img src="{{STATIC_URL}}shop/images/banner-book.jpg" alt="IMG-BANNER">
				</div>
			</div>
		</div>
	</div>
</section>

{% comment %}

<!-- Blog -->
<section class="blog bgwhite p-t-94 p-b-65">
	<div class="container">
		<div class="sec-title p-b-52">
			<h3 class="m-text5 t-center">
				Our Blog
			</h3>
		</div>

		<div class="row">
			<div class="col-sm-10 col-md-4 p-b-30 m-l-r-auto">
				<!-- Block3 -->
				<div class="block3">
					<a href="blog-detail.html" class="block3-img dis-block hov-img-zoom">
						<img src="{{STATIC_URL}}shop/images/blog-01.jpg" alt="IMG-BLOG">
					</a>

					<div class="block3-txt p-t-14">
						<h4 class="p-b-7">
							<a href="blog-detail.html" class="m-text11">
								Black Friday Guide: Best Sales & Discount Codes
							</a>
						</h4>

						<span class="s-text6">By</span> <span class="s-text7">Nancy Ward</span>
						<span class="s-text6">on</span> <span class="s-text7">July 22, 2017</span>

						<p class="s-text8 p-t-16">
							Duis ut velit gravida nibh bibendum commodo. Sus-pendisse pellentesque mattis augue id euismod. Inter-dum et malesuada fames
						</p>
					</div>
				</div>
			</div>

			<div class="col-sm-10 col-md-4 p-b-30 m-l-r-auto">
				<!-- Block3 -->
				<div class="block3">
					<a href="blog-detail.html" class="block3-img dis-block hov-img-zoom">
						<img src="{{STATIC_URL}}shop/images/blog-02.jpg" alt="IMG-BLOG">
					</a>

					<div class="block3-txt p-t-14">
						<h4 class="p-b-7">
							<a href="blog-detail.html" class="m-text11">
								The White Sneakers Nearly Every Fashion Girls Own
							</a>
						</h4>

						<span class="s-text6">By</span> <span class="s-text7">Nancy Ward</span>
						<span class="s-text6">on</span> <span class="s-text7">July 18, 2017</span>

						<p class="s-text8 p-t-16">
							Nullam scelerisque, lacus sed consequat laoreet, dui enim iaculis leo, eu viverra ex nulla in tellus. Nullam nec ornare tellus, ac fringilla lacus. Ut sit ame
						</p>
					</div>
				</div>
			</div>

			<div class="col-sm-10 col-md-4 p-b-30 m-l-r-auto">
				<!-- Block3 -->
				<div class="block3">
					<a href="blog-detail.html" class="block3-img dis-block hov-img-zoom">
						<img src="{{STATIC_URL}}shop/images/blog-03.jpg" alt="IMG-BLOG">
					</a>

					<div class="block3-txt p-t-14">
						<h4 class="p-b-7">
							<a href="blog-detail.html" class="m-text11">
								New York SS 2018 Street Style: Annina Mislin
							</a>
						</h4>

						<span class="s-text6">By</span> <span class="s-text7">Nancy Ward</span>
						<span class="s-text6">on</span> <span class="s-text7">July 2, 2017</span>

						<p class="s-text8 p-t-16">
							Proin nec vehicula lorem, a efficitur ex. Nam vehicula nulla vel erat tincidunt, sed hendrerit ligula porttitor. Fusce sit amet maximus nunc
						</p>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>

<!-- Instagram -->
<section class="instagram p-t-20">
	<div class="sec-title p-b-52 p-l-15 p-r-15">
		<h3 class="m-text5 t-center">
			@ follow us on Instagram
		</h3>
	</div>

	<div class="flex-w">
		<!-- Block4 -->
		<div class="block4 wrap-pic-w">
			<img src="{{STATIC_URL}}shop/images/gallery-03.jpg" alt="IMG-INSTAGRAM">

			<a href="#" class="block4-overlay sizefull ab-t-l trans-0-4">
				<span class="block4-overlay-heart s-text9 flex-m trans-0-4 p-l-40 p-t-25">
					<i class="icon_heart_alt fs-20 p-r-12" aria-hidden="true"></i>
					<span class="p-t-2">39</span>
				</span>

				<div class="block4-overlay-txt trans-0-4 p-l-40 p-r-25 p-b-30">
					<p class="s-text10 m-b-15 h-size1 of-hidden">
						Nullam scelerisque, lacus sed consequat laoreet, dui enim iaculis leo, eu viverra ex nulla in tellus. Nullam nec ornare tellus, ac fringilla lacus. Ut sit amet enim orci. Nam eget metus elit.
					</p>

					<span class="s-text9">
						Photo by @nancyward
					</span>
				</div>
			</a>
		</div>

		<!-- Block4 -->
		<div class="block4 wrap-pic-w">
			<img src="{{STATIC_URL}}shop/images/gallery-07.jpg" alt="IMG-INSTAGRAM">

			<a href="#" class="block4-overlay sizefull ab-t-l trans-0-4">
				<span class="block4-overlay-heart s-text9 flex-m trans-0-4 p-l-40 p-t-25">
					<i class="icon_heart_alt fs-20 p-r-12" aria-hidden="true"></i>
					<span class="p-t-2">39</span>
				</span>

				<div class="block4-overlay-txt trans-0-4 p-l-40 p-r-25 p-b-30">
					<p class="s-text10 m-b-15 h-size1 of-hidden">
						Nullam scelerisque, lacus sed consequat laoreet, dui enim iaculis leo, eu viverra ex nulla in tellus. Nullam nec ornare tellus, ac fringilla lacus. Ut sit amet enim orci. Nam eget metus elit.
					</p>

					<span class="s-text9">
						Photo by @nancyward
					</span>
				</div>
			</a>
		</div>

		<!-- Block4 -->
		<div class="block4 wrap-pic-w">
			<img src="{{STATIC_URL}}shop/images/gallery-09.jpg" alt="IMG-INSTAGRAM">

			<a href="#" class="block4-overlay sizefull ab-t-l trans-0-4">
				<span class="block4-overlay-heart s-text9 flex-m trans-0-4 p-l-40 p-t-25">
					<i class="icon_heart_alt fs-20 p-r-12" aria-hidden="true"></i>
					<span class="p-t-2">39</span>
				</span>

				<div class="block4-overlay-txt trans-0-4 p-l-40 p-r-25 p-b-30">
					<p class="s-text10 m-b-15 h-size1 of-hidden">
						Nullam scelerisque, lacus sed consequat laoreet, dui enim iaculis leo, eu viverra ex nulla in tellus. Nullam nec ornare tellus, ac fringilla lacus. Ut sit amet enim orci. Nam eget metus elit.
					</p>

					<span class="s-text9">
						Photo by @nancyward
					</span>
				</div>
			</a>
		</div>

		<!-- Block4 -->
		<div class="block4 wrap-pic-w">
			<img src="{{STATIC_URL}}shop/images/gallery-13.jpg" alt="IMG-INSTAGRAM">

			<a href="#" class="block4-overlay sizefull ab-t-l trans-0-4">
				<span class="block4-overlay-heart s-text9 flex-m trans-0-4 p-l-40 p-t-25">
					<i class="icon_heart_alt fs-20 p-r-12" aria-hidden="true"></i>
					<span class="p-t-2">39</span>
				</span>

				<div class="block4-overlay-txt trans-0-4 p-l-40 p-r-25 p-b-30">
					<p class="s-text10 m-b-15 h-size1 of-hidden">
						Nullam scelerisque, lacus sed consequat laoreet, dui enim iaculis leo, eu viverra ex nulla in tellus. Nullam nec ornare tellus, ac fringilla lacus. Ut sit amet enim orci. Nam eget metus elit.
					</p>

					<span class="s-text9">
						Photo by @nancyward
					</span>
				</div>
			</a>
		</div>

		<!-- Block4 -->
		<div class="block4 wrap-pic-w">
			<img src="{{STATIC_URL}}shop/images/gallery-15.jpg" alt="IMG-INSTAGRAM">

			<a href="#" class="block4-overlay sizefull ab-t-l trans-0-4">
				<span class="block4-overlay-heart s-text9 flex-m trans-0-4 p-l-40 p-t-25">
					<i class="icon_heart_alt fs-20 p-r-12" aria-hidden="true"></i>
					<span class="p-t-2">39</span>
				</span>

				<div class="block4-overlay-txt trans-0-4 p-l-40 p-r-25 p-b-30">
					<p class="s-text10 m-b-15 h-size1 of-hidden">
						Nullam scelerisque, lacus sed consequat laoreet, dui enim iaculis leo, eu viverra ex nulla in tellus. Nullam nec ornare tellus, ac fringilla lacus. Ut sit amet enim orci. Nam eget metus elit.
					</p>

					<span class="s-text9">
						Photo by @nancyward
					</span>
				</div>
			</a>
		</div>
	</div>
</section>
{% endcomment %}
{% endblock content %} 

{% block customjs %}
<!-- Toastr -->
<script src="{{STATIC_URL}}assets/js/plugins/toastr/toastr.min.js"></script>
{% endblock customjs %}